<div class="login-form">
    <div class="login-form-section">
        <h1 class="login-content-title">Change password</h1>
        <p>It's good idea to use a strong password that you don't use elsewhere</p>
        <form class="pg-login-form" [formGroup]="updatepassword" (ngSubmit)="resetpassword()">
            <div class="login-container">
                <div class="login-form-box">
                    <mat-form-field class="login-full-width" appearance="fill">
                        <mat-label>Password</mat-label>
                        <i class="material-icons" matPrefix>lock_outline</i>
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" name="password"
                            formControlName="password">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error
                            *ngIf="!updatepassword.controls['password'].valid && updatepassword.controls['password'].touched">
                            {{ getErrorPassword() }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="login-full-width" appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <i class="material-icons" matPrefix>lock_outline</i>
                        <input matInput [type]="Conhide ? 'password' : 'text'" placeholder="Confirm Password" name="confirmpassword"
                            formControlName="confirmpassword">
                            <mat-icon matSuffix (click)="Conhide = !Conhide">{{Conhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <!-- <mat-error *ngIf="!updatepassword.controls['confirmpassword'].valid && updatepassword.controls['confirmpassword'].touched && updatepassword.value.password !== updatepassword.value.confirmpassword">
                            {{ getErrorconfirmPassword() }}
                            </mat-error>  -->
                            <div class="error-msg" *ngIf="updatepassword.value.password !== updatepassword.value.confirmpassword">
                                <mat-error> Password and Confirm Password must be match.</mat-error>
                            </div>
                    </mat-form-field>
                </div>
                <div class="cta-section">
                    <button mat-raised-button color="primary" type="submit" class="button-class">Change Password</button>
                </div>  
            </div>  
        </form>
    </div>
</div>