
<div class="gig-common-modal">
    <div class="exp-submit-nomi-wrap">
        <span class="exp-close-btn" (click) = "onNoClick()" mat-button mat-dialog-close><i class="fas fa-times"></i></span>
        <h4 class="text-center">Submit Nomination</h4>
        <div class="submit-wrap">
            <form [formGroup]="nominationForm">
                <nb-card>
                    <nb-card-body>
                        <div class="nomination-table">
                            <div class="nomination-label">
                                Required skill set
                            </div>
                            <div class="nomination-label">
                                Skill Rating <i class="fas fa-info-circle" 
                                matTooltip="1 being the lowest and 5 being the highest">
                             </i>
                            </div>
                        </div>
                        <div class="scrollable">
                            <div formArrayName="skills"
                                *ngFor="let skill of nominationForm.get('skills').controls;let i = index;let last = last">
                                <div [formGroupName]="i">                                    
                                    <div class="row">
                                        <div class="col-sm-6 ">
                                            <mat-form-field class="exp-fw">
                                                <input matInput formControlName="name" autocomplete="off" placeholder="Skill" >
                                                <mat-hint   class="err-msg" *ngIf="skill.get('name')?.errors && (skill.get('name').dirty || skill.get('name').touched)">Skill is required</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <mat-form-field class="exp-fw">
                                                <mat-select formControlName="rating"
                                                            placeholder="Rating">
                                                <mat-option value="1">1</mat-option>
                                                <mat-option value="2">2</mat-option>
                                                <mat-option value="3">3</mat-option>
                                                <mat-option value="4">4</mat-option>
                                                <mat-option value="5">5</mat-option>
                                                </mat-select>
                                                <mat-hint class="err-msg" *ngIf="skill.get('rating')?.errors && (skill.get('rating').dirty || skill.get('rating').touched)">Rating is required</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </nb-card-body>
                </nb-card>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="upload-form-group">
                            <p>Upload Resume</p>
                            <fieldset class="form-group">
                                {{imageError}}
                                <div class="custom-file fileInputProfileWrap">
                                    <input type="file" (change)="fileChangeEvent($event)"  (click)="Clearfile()" class="fileInputProfile">
                                    <div class="img-space">
                                        <ng-container *ngIf="isImageSaved; else elseTemplate">
                                        </ng-container>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field class="exp-fw">
                            <mat-label>
                                Current Manager
                            </mat-label>
                            <mat-select formControlName="currentManager">
                                <mat-option *ngFor="let lManager of lMlist" [value]="lManager">
                                    {{lManager.name}}
                                </mat-option>
                            </mat-select>
                            <mat-hint class="err-msg" *ngIf="currentManager.errors && (currentManager.dirty || currentManager.touched)">Work Package Status is required</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="exp-fw">
                            <mat-label>Budget</mat-label>
                            <input  matInput numeric type="text" formControlName="budget">
                            <mat-hint class="err-msg"
                            *ngIf="budget.errors && (budget.dirty || budget.touched)">
                            Budget  is required.
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>              
                <div class="row">
                    <div class="col-sm-12">                    
                        <mat-form-field class="exp-fw">
                            <!-- <i class="material-icons" matPrefix>person_pin</i> -->
                            <mat-label>Comments</mat-label>
                            <textarea   matInput formControlName="comments" autocomplete="off"></textarea>
                            <mat-hint class="err-msg" *ngIf="comments.errors && (comments.dirty || comments.touched)">Comments is required</mat-hint>
                        </mat-form-field>
                    </div>                
                </div>                
                <div class="action-box">
                    <button mat-raised-button (click) = "submit()" color="primary" type="submit">Submit Nomination</button>
                </div>
            </form>
        </div>
    </div>
</div>