.exp-submit-nomi-wrap{position: relative;}
::ng-deep .icon-outside .exp-close-btn{cursor:pointer;padding:.4rem .65rem;background-color:#6846c6;border-radius:1rem;display:inline-block;text-align:center;color:#fff;top:-3rem;right:-3rem;position:absolute;line-height:normal}
::ng-deep .icon-outside .exp-close-btn i{font-weight: 600;font-size: 0.75rem;}
::ng-deep .icon-outside .mat-dialog-container {overflow: unset}
.pg-plpcomponent mat-dialog-container{padding: 1rem;}