::ng-deep {
    .table thead th {
      vertical-align: middle!important;
      border-bottom: 2px solid #dee2e6;
    }
    tr.mat-header-row {
      background: #6846c6;
    }
    .mat-button, .mat-paginator {
      color: #6846c6;
    }
    .mat-sort-header-container {
      color: white;
      font-size: 15px;
    }
    .mat-sort-header-arrow {
      color: white;
      width: 15px!important;
    }
}

.pg-container .reg-pg-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
.pg-container .reg-pg-action .reg-search {
  margin: 0;
}

.schedulerCreation{
  position: fixed;
  bottom: 49px;
  right: 10px;
  text-shadow: 0 0 black;
}
  