<div class="pg-container scheduler-pg">
    <div class="reg-pg-action">
        <!-- <mat-toolbar color="primary" class="pg-common-title">
            <mat-toolbar-row>
                <h4 class="header">Scheduler View Details</h4>
            </mat-toolbar-row>
        </mat-toolbar> -->
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button class="back-to-pg" mat-button>
                    <a (click)="backToProjectDeatils()" [routerLink]="['/pages/project-details']">
                        Back
                    </a>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="pg-inner-container">
        <table mat-table matSort multiTemplateDataRows
            class="table table-striped table-responsive-md btn-table mat-elevation-z8" [dataSource]="schedulerData">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let first=first;">
                <span *ngIf="!first">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-td">{{ setHeader(column) }}</th>
                </span>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
                <span *ngIf="first">
                    <td mat-cell *matCellDef="let element" class="table-td">
                        <button mat-button (click)="toggleRow(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </span>
                <td mat-cell *matCellDef="let element" (click)="toggleRow(element)" class="table-td">
                    {{ element[column] }}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: displayedColumns" class="example-element-row"></tr>
        </table>
        <div class="pg-userm-pagination">
            <mat-paginator sticky [pageSizeOptions]="[15, 25, 35, 45]" [pageSize]="15" showFirstLastButtons
                class="table-td"></mat-paginator>
        </div>
    </div>
</div>
<div class="schedulerCreation" *ngIf="isPM">
    <button (click)="createScheduler()" type="submit"
        mat-fab color="primary"><i class="fas fa-plus"></i></button>
</div>