<div class="login-form">
  <div class="login-form-section">
    <h1 class="login-content-title">Update Profile</h1>
    <form class="pg-login-form" [formGroup]="profile">    
      <div class="login-container">
        <div class="login-form-box">
          <mat-form-field class="login-full-width" appearance="fill">
            <mat-label>Area of Expertise</mat-label>
            <i class="material-icons" matPrefix>person</i>
            <mat-select  formControlName="area" multiple>
              <mat-option *ngFor="let topping of areaexpertise" [value]="topping.areaId">{{topping.areaName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field class="login-full-width" appearance="fill">
            <mat-label>Total Years of Experience</mat-label>
            <mat-icon matPrefix svgIcon="person"></mat-icon>
            <input matInput formControlName="experience" type="number" maxlength="10" placeholder="">
            <mat-error *ngIf="!profile.controls['experience'].valid && profile.controls['experience'].touched">
              Field is required, Must be 2 digits
            </mat-error>
          </mat-form-field> -->      
          <!-- <mat-form-field appearance="fill" class="login-full-width">
            <mat-label>Total Years of Experience</mat-label>
            <i class="material-icons" matPrefix>domain</i>
          </mat-form-field>           -->
          <!-- <p class="registration-content-title"><i class="material-icons" matPrefix>event</i>Total Years of Experience</p> -->
          <div class="login-full-width full-flex-container">
            <mat-form-field  class="login-full-width select-years" appearance="fill">
              <mat-label>Years of Experience</mat-label>
              <i class="material-icons" matPrefix>event</i>
              <mat-select  formControlName="years">
                <mat-option value="01">01</mat-option>
                <mat-option value="02">02</mat-option>
                <mat-option value="03">03</mat-option>
                <mat-option value="04">04</mat-option>
                <mat-option value="05">05</mat-option>
                <mat-option value="06">06</mat-option>
                <mat-option value="07">07</mat-option>
                <mat-option value="08">08</mat-option>
                <mat-option value="09">09</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="11">11</mat-option>
                <mat-option value="12">12</mat-option>
                <mat-option value="13">13</mat-option>
                <mat-option value="14">14</mat-option>
                <mat-option value="15">15</mat-option>
                <mat-option value="16">16</mat-option>
                <mat-option value="17">17</mat-option>
                <mat-option value="18">18</mat-option>
                <mat-option value="19">19</mat-option>
                <mat-option value="20">20</mat-option>
                <mat-option value="21">21</mat-option>
                <mat-option value="22">22</mat-option>
                <mat-option value="23">23</mat-option>
                <mat-option value="24">24</mat-option>
                <mat-option value="25">25</mat-option>
                <mat-option value="26">26</mat-option>
                <mat-option value="27">27</mat-option>
                <mat-option value="28">28</mat-option>
                <mat-option value="29">29</mat-option>
                <mat-option value="30">30</mat-option>
                <mat-option value="31">31</mat-option>
                <mat-option value="32">32</mat-option>
                <mat-option value="33">33</mat-option>
                <mat-option value="34">34</mat-option>
                <mat-option value="35">35</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field  class="login-full-width" appearance="fill">
              <mat-label>Months of Experience</mat-label>
              <i class="material-icons" matPrefix>event</i>              
              <mat-select  formControlName="months">
                <mat-option value="00">00</mat-option>
                <mat-option value="01">01</mat-option>
                <mat-option value="02">02</mat-option>
                <mat-option value="03">03</mat-option>
                <mat-option value="04">04</mat-option>
                <mat-option value="05">05</mat-option>
                <mat-option value="06">06</mat-option>
                <mat-option value="07">07</mat-option>
                <mat-option value="08">08</mat-option>
                <mat-option value="09">09</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="11">11</mat-option>    
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <mat-form-field class="columns">
            <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles.item(0).name}}</mat-label>
            <ng-template #newFile>
                <mat-label>Upload your resume (.pdf)</mat-label>
            </ng-template>
            <input matInput disabled>
            <button mat-icon-button matSuffix   (click)="fileInput.click()">
            <mat-icon>attach_file</mat-icon> 
          
              <button mat-flat-button color="primary">choose a file</button> 
            </button>
            <input hidden  (change)="selectFile($event)" #fileInput type="file"  id="file" accept=".pdf">
            </mat-form-field>
          -->
          <div class="upload-form-group">
            <fieldset class="form-group">
                <label><mat-icon matPrefix svgIcon="person"></mat-icon>Upload resume</label>
                {{imageError}}
                <div class="custom-file fileInputProfileWrap">
                    <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                    <div class="img-space">
                        <ng-container *ngIf="isImageSaved; else elseTemplate">
                        <!-- <img [src]="cardImageBase64" class="img-responsive" /> -->
                        </ng-container>
                        <!-- <ng-template #elseTemplate>
                            <img src="./../../assets/placeholder.png" class="img-responsive">
                        </ng-template> -->
                    </div>
                </div>
            </fieldset>
          </div>
        </div>        
        <div class="cta-section cta-action">
          <div class="section-bottom">
            <a mat-flat-button download="Template_resume" href="../assets/template/template_resume.docx" target="_blank">Click here to download resume format</a>
          </div>          
          <button [nbSpinner]="loading" mat-raised-button color="primary" class="button-class"  (click)="updateprofile()" type="submit">Update Profile</button>        </div>      
      </div>
    </form>
  </div>
</div>