.pg-container .reg-pg-action{display:flex;justify-content:flex-end;align-items:center;padding-bottom:1rem}
.pg-container .reg-pg-action .reg-search{margin:0}
.pg-container nb-card-header{display:flex;width:100%;flex-direction:row;background-color:#6846c6;padding:.75rem 1rem}
.pg-container nb-card-header .pg-details-header{display:flex;justify-content:space-between;width:100%;align-items:center;color:#fff}
.pg-container nb-card-header .pg-details-header .item{color:#fff;text-transform:capitalize;font-family:'Montserrat',sans-serif!important;font-weight:600}
.pg-container nb-card-header .pg-details-header .item button{background-color:#f0f0f0;padding:.5rem .75rem;font-weight:400;text-transform:lowercase;color:rgba(12,8,20,0.6);outline:none;font-size:.75rem;border-radius:.2rem;border:1px solid #dadada;}
.pg-container nb-card-header .pg-details-header .item button.btn-view-prograss{background-color:rgba(236,111,98,0.8)!important;color:#fff!important;text-transform:capitalize;font-weight:400;line-height:normal;font-size:.75rem;margin:0;width:auto;padding:.5rem .75rem!important;border-radius:.25rem;border:none;outline:none}
.pg-container nb-card-header .pg-details-header .item.avatar-wrap ul{display:flex;justify-content:space-between;width:100%;align-items:center;margin:0 auto;list-style:none;padding:0}
.pg-container nb-card-header .pg-details-header .item.avatar-wrap ul li{margin:0 .5rem 0 0;border:1px solid #dadada;min-width:35px;min-height:35px;border-radius:.25rem;background-color:#f0f0f0;line-height:2rem;text-align:center}
.pg-container nb-card-header .pg-details-header img{max-width:35px;border-radius:.25rem}
.pg-container nb-card-header .pg-details-header .res-avatar{display:flex;align-items:center;justify-content:space-between}
.pg-container .pro-details-wrap{margin:0 auto;display:block;width:100%;background-color:#f0f0f0;border:1px solid #dadada;border-top:none;padding:1rem;border-radius:0 0 .25rem .25rem}
.pg-container .pro-details-wrap .pro-details-descrb{box-shadow:-1px 2px 7px #F0F0F0;font-family:'Montserrat',sans-serif!important;padding:1rem;margin:0 auto .75rem;line-height:normal;border:.0625rem solid #dadada}
.pg-container .pro-details-wrap .pro-details-descrb nb-card-body{font-family:'Montserrat',sans-serif!important;padding:0;margin:0 auto;line-height:normal;font-size:.875rem;color:#0c0814;font-weight:400}
.pg-container .pro-details-wrap .detail-info-container h5.header{color:#6846c6;font-size:.875rem;font-weight:700;line-height:normal;margin:0 0 .75rem}
.pg-container .pro-details-wrap .detail-info-container nb-card{border:none;margin:0 auto 1rem}
.pg-container .pro-details-wrap .detail-info-container nb-card nb-card-body{padding:1rem;border:.0625rem solid #dadada;box-shadow:-1px 2px 7px #F0F0F0;border-radius:.25rem;font-size:.875rem;font-weight:400;color:#0c0814;font-family:'Montserrat',sans-serif!important}
.pg-container .pro-details-wrap .detail-info-container .action-box{display:flex;justify-content:flex-end}
.pg-container .pro-details-wrap .detail-info-container .action-box button{background-color:#6846c6;box-shadow:0 7px 15px rgba(0,0,0,0.25);outline:none;line-height:normal}
.pg-container .pro-details-wrap .detail-info-container nb-card nb-card-body .qa-wrap-container{display:flex;justify-content:space-between;align-items:center}
.pg-container .pro-details-wrap .detail-info-container nb-card nb-card-body.qa-wrap a {font-size:.875rem;font-weight:400;word-break: break-all;}
.pg-container .pro-details-wrap .detail-info-container nb-card nb-card-body.qa-wrap a span{font-size:.875rem;font-weight:400;word-break: break-all;display: block;}
.pg-container .pro-details-wrap .detail-info-container nb-card nb-card-body .qa-wrap-container .header{margin:0}
.pg-container .pro-details-wrap .detail-info-container nb-card nb-card-body .qa-wrap-container .qa-temp{color:rgba(12,8,20,0.7);font-size:.875rem}
.pg-container .pro-details-wrap .detail-info-container .mom-container button{background-color:#6846c6;outline:none}
.pg-container .pro-details-wrap .detail-info-container button.btn-view-more{background-color:#fff;box-shadow:none;line-height:normal;border:1px solid #6846c6;outline:none;color:#6846c6}
.pg-container .pro-details-wrap .detail-info-container button.btn-view-more nb-icon{font-size:1rem;margin:0 auto;width:.875rem;height:.875rem;line-height:normal}
.pg-container .pro-details-wrap .detail-info-container button.btn-view-more a{line-height:1.1rem;outline:none;color:#6846c6}
.pg-container .pro-details-wrap .detail-info-container nb-card nb-card-body.skill-wrap ol{margin:0;padding:0 1rem 1rem}
.pg-container .pro-details-wrap .detail-info-container nb-card nb-card-body.skill-wrap ol li{font-size:.875rem;font-weight:400;color:#0c0814;font-family:'Montserrat',sans-serif;line-height:normal;padding-bottom:.5rem}
.pg-container .pro-details-wrap .detail-info-container nb-card nb-card-body.skill-wrap ol li .skill-container{display:flex;justify-content:space-between;align-items:center}
.pg-container .pro-details-wrap .detail-info-container nb-card nb-card-body.skill-wrap ol li .skill-container .skill-rating{text-align:left;min-width:9.375rem}
.pg-container .pro-details-wrap .detail-info-container nb-card nb-card-body.skill-wrap ol li .skill-container .skill-rating span{padding-left:.5rem}

@media screen and (max-width:1490px) {

}
@media screen and (max-width:1024px) {

}
@media screen and (max-width:767px) {
    .pg-container{padding:0}
    .pg-container .reg-pg-action{padding:.5rem}
    .pg-container nb-card-header .pg-details-header{flex-wrap:wrap}
    .pg-container nb-card-header .pg-details-header .res-avatar{justify-content:flex-start;flex-wrap:wrap;padding-top:1rem}
    .pg-container .pro-details-wrap .detail-info-container nb-card nb-card-body .qa-wrap-container{flex-wrap:wrap;justify-content:flex-start}
    .pg-container .pro-details-wrap{border:none}
}
@media screen and (max-width:1920px) and (min-width:1366px) {

}
