<app-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value" [backdropEnabled]="true" [positionGloballyCenter]="true"
 [displayProgressSpinner]="displayProgressSpinner">
</app-progress-spinner>
<div *ngIf="isLoading">
    Loading...!
</div>
<div class="pg-container" *ngIf="!isLoading">
    <div class="reg-pg-action">      
        <mat-toolbar color="primary">
            <mat-toolbar-row class="btn-group">
                <button mat-raised-button class="mb-1" color="primary" [routerLink]="['/pages/plp']" type="submit">Back</button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>              
    <nb-card-header>
        <div class="pg-details-header">
            <div class="item desc">
                {{projectInfo.projectName}}
            </div>
            <div class="item exp-info">
                <button nbButton matRipple semi-round>
                    {{dateDiff(projectInfo.startDate,projectInfo.endDate) }} Days left
                </button>
            </div>
            <div class="res-avatar">
                <!-- <nb-user   *ngFor="let avatar of avatars.slice(0, 9);" 
                            size="medium"
                            shape="rectangle"
                            onlyPicture ="true"
                            [picture]="avatar.base64image">
                </nb-user>
                <span *ngIf="avatars.length > 9">+{{avatars.length - 9}}</span> -->
            </div>
            <div class="item avatar-wrap exp-progress-bar" *ngIf="isVisible('projectStatus')">
                <!-- {{pageData.projectinfo.projectStatusPercentage}} -->
                <nb-progress-bar [value]="projectInfo.projectStatusPercentage" size="tiny" [displayValue]="true" status="danger">
                </nb-progress-bar>
            </div>
            <div class="item exp-info" *ngIf="isVisible('projectStatus')">
                <button class="btn-view-prograss" nbButton matRipple semi-round>
                    {{projectInfo.workPackageStatus}}
                </button>
            </div>
            <div class="item desc">
                {{projectInfo.customerName}}
            </div>
        </div>
    </nb-card-header>
    <nb-card-body class="pro-details-wrap">
        <nb-card class="pro-details-descrb">
            <nb-card-body>
                {{projectInfo.projectDescription}}
            </nb-card-body>
        </nb-card>
        <div class="row detail-info-container">
            <div class="col-sm-6">
                <nb-card *ngIf="isVisible('kickOff')">
                    <nb-card-body>
                        <h5 class="header">MOM</h5>
                        <div class="scrollable" *ngIf="isVisible('scheduleLink') && isSchedulerLinkVisible">
                            <nb-card>
                                <nb-card-body class="r-text-cont">
                                    <!-- <span class="text-content">{{projectInfo.createdDate | date: 'dd/MM/yyyy'}} </span> -->
                                    <div id="result"></div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                        <div class="action-box" (click)="addMOM()" *ngIf="isVisible('addMomBtn')">
                            <button mat-mini-fab color="primary">
                                <nb-icon icon="plus-outline"></nb-icon>
                            </button>
                        </div>
                        <div *ngIf="isMomCommVis" class="mom-container">
                            <form [formGroup]="momForm">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <mat-form-field class="exp-fw">
                                            <mat-label>MOM Text</mat-label>
                                            <textarea matInput formControlName="momText" autocomplete="off" required></textarea>
                                        </mat-form-field>
                                        <mat-hint class="err-msg"
                                            *ngIf="momText.errors && (momText.dirty || momText.touched)">
                                            MOM is required.
                                        </mat-hint>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button mat-raised-button color="primary" [disabled]="momText.errors" (click)="saveMOM()"
                                        type="button">Submit</button>
                                </div>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
                <nb-card *ngIf="isVisible('tools')">
                    <nb-card-body class="r-text-cont">
                        <h5 class="header">Tools</h5>
                        {{projectInfo.tools}}
                    </nb-card-body>
                </nb-card>
                <nb-card *ngIf="isVisible('input')">
                    <nb-card-body class="r-text-cont">
                        <h5 class="header">Input</h5>
                        {{projectInfo.input}}
                    </nb-card-body>
                </nb-card>
                <nb-card *ngIf="isVisible('acceptanceCriteria')">
                    <nb-card-body class="r-text-cont">
                        <h5 class="header">Acceptance Criteria</h5>
                        {{projectInfo.acceptanceCriteria}}
                    </nb-card-body>
                </nb-card>
                <nb-card *ngIf="isVisible('skillset')">
                    <nb-card-body class="skill-wrap">
                        <h5 class="header">
                            <ng-container *ngIf="isVisible('skillWeightage');else second">
                                <span>Skillset & Rating <i class="fas fa-info-circle" 
                                    matTooltip="1 being the lowest and 5 being the highest">
                                 </i></span>
                            </ng-container>
                            <ng-template #second>
                                <span>
                                    Skillset
                                </span>
                            </ng-template>
                        </h5>
                        <ol class="col-xs-12 col-sm-12 col-md-6">
                            <li *ngFor="let skill of projectSkills">
                                <div class="skill-container">
                                    <div class="skill-info">
                                        <span>{{skill.skillName}}</span>
                                    </div>
                                    <div class="skill-rating">
                                        <span class="rating" *ngIf="isVisible('skillRating')">
                                            <exp-rating [rating]="skill.skillRating">
                                            </exp-rating>
                                        </span>
                                        <span class="weightage"
                                            *ngIf="isVisible('skillWeightage')">{{skill.skillWeightage}} %
                                        </span>                                    
                                    </div>
                                </div>                                
                            </li>
                        </ol>
                    </nb-card-body>
                </nb-card>
                <h5 class="header" *ngIf="isVisible('scheduleLink') && isSchedulerLinkVisible">
                    <ng-container *ngIf="projectInfo.scheduleCreated;else second">
                        <span class="c-p">Create Schedule Page</span>
                    </ng-container>
                    <ng-template #second>
                        <span class="c-p">
                            <button nbButton matRipple size="tiny" semi-round class="btn-view-more">
                                <a  [routerLink]="['/pages/mattable']"
                                    [queryParams]="{ pid: projectid }">
                                    <nb-icon icon="external-link-outline"></nb-icon>
                                    Scheduler Page
                                </a>
                            </button>
                        </span>
                    </ng-template>
                </h5>
            </div>
            <div class="col-sm-6">
                <nb-card *ngIf="isVisible('constraints')">
                    <nb-card-body>
                        <h5 class="header">Constraints</h5>
                        {{projectInfo.constraints}}
                    </nb-card-body>
                </nb-card>
                <nb-card *ngIf="isVisible('budget')">
                    <nb-card-body>
                        <h5 class="header">Budget(INR)</h5>
                        {{projectInfo.budget}}
                    </nb-card-body>
                </nb-card>
                <nb-card *ngIf="isVisible('q&a')">
                    <nb-card-body class="qa-wrap">
                        <div class="qa-wrap-container">
                            <h5 class="header">Question & Answer</h5>
                            <span (click)="showPdf()" class="qa-temp" *ngIf="isVisible('q&aDownLink')">
                                <nb-icon icon="download-outline" icon-font-size=".9rem"></nb-icon> Download Sample Q&A File
                            </span>
                        </div>
                        <!-- <img [src]="ImageSource" /> -->
                        <div class="row mt-2" *ngIf="isVisible('q&aUpload')">
                                <a mat-flat-button download="QandAfile" type="button" (click)="download()"><span>Click here to download the Question and Answer</span></a>                        
                        </div>
                    </nb-card-body>
                </nb-card>
                <nb-card>
                    <nb-card-body class="r-text-cont">
                        <h5 class="header">Duration</h5>
                        Project Start : {{projectInfo.startDate | date: 'dd/MM/yyyy' }}
                        <br />
                        Project End: {{projectInfo.endDate | date: 'dd/MM/yyyy'}}
                    </nb-card-body>
                </nb-card>
                <nb-card>
                    <nb-card-body class="r-text-cont">
                        <h5 class="header">Scope Overview</h5>
                        {{projectInfo.scopeofActivity}}
                    </nb-card-body>
                </nb-card>
                <nb-card *ngIf="isVisible('deliverables')">
                    <nb-card-body>
                        <h5 class="header">Deliverables</h5>
                        {{projectInfo.deliverables}}
                    </nb-card-body>
                </nb-card>
                <nb-card *ngIf="(isVisible('closureMom'))">
                    <nb-card-body>
                        <h5 class="header">Closure MOM</h5>
                        <div class="scrollable">
                            <nb-card>
                                <nb-card-body class="r-text-cont"  >
                                  <div *ngIf="isCloseMom">  {{projectInfo.ClosureMOM}}</div>
                                </nb-card-body>
                            </nb-card>
                        </div>
                        <div class="action-box" (click)="addClosureMom()" *ngIf="(isVisible('closureMomBtn') && projectInfo.ClosureMOM == 'NULL' && isCloseMom)">
                            <button mat-mini-fab color="primary">
                                <nb-icon icon="plus-outline"></nb-icon>
                            </button>
                        </div>
                        <div *ngIf="isClosureMomVis" class="mom-container">
                            <form [formGroup]="closureMomForm">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <mat-form-field class="exp-fw">
                                            <mat-label>MOM Text</mat-label>
                                            <textarea matInput formControlName="closureMomText"
                                                autocomplete="off" required></textarea>
                                        </mat-form-field>
                                        <mat-hint class="err-msg"
                                            *ngIf="closureMomText.errors && (closureMomText.dirty || closureMomText.touched)">
                                            Closure Mom Text is required.
                                        </mat-hint>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button mat-raised-button [disabled]="closureMomText.errors" color="primary" (click)="saveCloserMOM()"
                                        type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
                <h5 *ngIf="isVisible('collaborators')" class="header"><span class="c-p">
                    <button nbButton matRipple size="tiny" semi-round class="btn-view-more">
                        <!-- <a [routerLink]="['/pages/collaborators']" [queryParams]="{ pid: projectid }"> -->
                        <a (click) = "openCollaboratorsModel()">
                            <nb-icon icon="external-link-outline"></nb-icon>
                            Collaborators
                        </a>
                    </button>
                </span>
                </h5>
            </div>
        </div>
    </nb-card-body>
</div>