<div class="gig-modal">
  <button mat-button (click)="onNoClick()" class="gig-modal-close">X</button>
  <div mat-dialog-content class="gig-modal-content">
      <img src="../../assets/images/icons/tick-icon-sm.svg" alt="banner">
      <h3>Password changed!</h3>
      <p>Your password has been changed successfully</p>
  </div>
</div>