$toolbar-color: #6846c6;
$white-color: #ffffff;

.project-card {
    height: 290px;
    width: 290px;
}

.project-menu {
    nb-list-item {
        cursor: pointer;
        padding: 0.5rem;
    }

    nb-list-item:hover {
        background-color: $toolbar-color;
        color: $white-color;
    }
}
