<div class="gig-modal">
  <button mat-button (click)="onNoClick()" class="gig-modal-close">X</button>
  <div mat-dialog-content class="gig-modal-content">
      <img src="../../assets/images/icons/tick-icon-sm.svg" alt="banner">
      <h3>Successfully Registered!</h3>
      <h4>Thank you for registering with us</h4>
      <p>We are evaluating your information we will let you know once approved we will share the login
        link through your registered email</p>
  </div>
</div>