.exp-fw{
    width:100%;
    margin-bottom: .5rem;
}

.tab-wrapper{
    background-color: #efefef;
    padding-top: .5rem;
}

.action-box{
    display:flex;
    justify-content: flex-end;
}
.action-box button{
    margin-right: .5rem;
}

.exp-dafi {
    width: 75%;
}

::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-flex {
        padding: 0 .75em 0 .75em;
        margin-top: -0.25em;
        position: relative;
        background: white;
    }
}

.err-msg{
    font-size: 12px;
    color: #f44336;
}

.active {
    pointer-events: fill!important;
}

.inactive {
    pointer-events: none!important;
}