<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button class="back-to-pg" mat-raised-button> <a (click)="backToProjectDeatils()">                             
                Back
            </a> </button>
	</mat-toolbar-row>
</mat-toolbar>
<nb-card>
	<nb-card-body>
		<h6 *ngIf="create">Create Scheduler Page</h6>
		<h6 *ngIf="update"> Scheduler Details</h6>
		<div class="tab-wrapper">
			<form [formGroup]="schedulerForm">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6">
							<mat-form-field class="exp-fw" appearance="outline">
								<mat-label>Work Order Number</mat-label>
								<input matInput formControlName="workOrdNum">
								<mat-hint class="err-msg" *ngIf="workOrdNum?.errors && (workOrdNum?.dirty || workOrdNum?.touched)"> Work Order Number is required. </mat-hint>
							</mat-form-field>
						</div>
						<div class="col-sm-6">
							<mat-form-field class="exp-fw" appearance="outline">
								<mat-label>Activity reference</mat-label>
								<input matInput autocomplete="off" formControlName="actRefer">
								<mat-hint class="err-msg" *ngIf="actRefer?.errors && (actRefer?.dirty || actRefer?.touched)"> Activity Reference is required. </mat-hint>
							</mat-form-field>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<mat-form-field class="exp-fw" appearance="outline">
								<mat-label>Milestone</mat-label>
								<input matInput autocomplete="off" formControlName="milest">
								<mat-hint class="err-msg" *ngIf="milest?.errors && (milest?.dirty || milest?.touched)"> Milestone is required. </mat-hint>
							</mat-form-field>
						</div>
						<div class="col-sm-6">
							<mat-form-field class="exp-fw" appearance="outline">
								<mat-label>Launching Date</mat-label>
								<input matInput autocomplete="off" [matDatepicker]="laPicker" [min]="minDate" [max]="maxDate" formControlName="launchDate" (dateInput)="onStartChanged('input', $event)">
								<mat-datepicker-toggle matSuffix [for]="laPicker"></mat-datepicker-toggle>
								<mat-datepicker #laPicker></mat-datepicker>
								<mat-hint class="err-msg" *ngIf="launchDate?.errors && (launchDate?.dirty || launchDate?.touched)"> Launching Date is required. </mat-hint>
								<mat-hint class="err-msg" *ngIf="isValid(launchDate.value)"> lauch date must be less than or equal to endDate. </mat-hint>
							</mat-form-field>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<mat-form-field class="exp-fw" appearance="outline">
								<mat-label>Expected delivery Date</mat-label>
								<input matInput autocomplete="off" [matDatepicker]="exPicker" [min]="minDate" [max]="maxDate" formControlName="expDelDate">
								<mat-datepicker-toggle matSuffix [for]="exPicker"></mat-datepicker-toggle>
								<mat-datepicker #exPicker></mat-datepicker>
								<mat-hint class="err-msg" *ngIf="expDelDate?.errors && (expDelDate?.dirty || expDelDate?.touched)"> Expected Delivery Date is required. </mat-hint>
								<mat-hint class="err-msg" *ngIf="isValid(expDelDate.value)"> Expected Deliverydate must be less than or equal to endDate. </mat-hint>
							</mat-form-field>
						</div>
						<div class="col-sm-6">
							<mat-form-field class="exp-fw" appearance="outline">
								<mat-label>Activity start date</mat-label>
								<input matInput autocomplete="off" [matDatepicker]="acStPicker" [min]="minDate" [max]="maxDate" formControlName="actStDate">
								<mat-datepicker-toggle matSuffix [for]="acStPicker"></mat-datepicker-toggle>
								<mat-datepicker #acStPicker></mat-datepicker>
								<mat-hint class="err-msg" *ngIf="actStDate?.errors && (actStDate?.dirty || actStDate?.touched)"> Activity Start Date is required. </mat-hint>
								<mat-hint class="err-msg" *ngIf="isValid(actStDate.value)"> Activity Startdate must be less than or equal to endDate. </mat-hint>
							</mat-form-field>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<mat-form-field class="exp-fw" appearance="outline">
								<mat-label>Proposed Delivery date</mat-label>
								<input matInput autocomplete="off" [matDatepicker]="prDePicker" [min]="minDate" [max]="maxDate" formControlName="proDelDate">
								<mat-datepicker-toggle matSuffix [for]="prDePicker"></mat-datepicker-toggle>
								<mat-datepicker #prDePicker></mat-datepicker>
								<mat-hint class="err-msg" *ngIf="(proDelDate?.errors && (proDelDate?.dirty || proDelDate?.touched))"> Proposed Delivery Date is required. </mat-hint>
								<mat-hint class="err-msg" *ngIf="isValid(proDelDate.value)"> Proposed Date Must be less then or equal to Enddate. </mat-hint>
							</mat-form-field>
						</div>
						<div class="col-sm-6">
							<mat-form-field class="exp-fw" appearance="outline">
								<mat-label>Actual Delivery date</mat-label>
								<input matInput autocomplete="off" [matDatepicker]="acDePicker" formControlName="actDelDate"> </mat-form-field>
						</div>
					</div>
					<hr>
					<div formArrayName="reviewInfo" *ngFor="let reInfo of schedulerForm.get('reviewInfo').controls;let i = index;let last = last">
						<div [formGroupName]="i">
							<div class="row">
								<div class="col-sm-6">
									<mat-form-field class="exp-fw" appearance="outline">
										<mat-label>Review start date</mat-label>
										<input matInput autocomplete="off" [matDatepicker]="reStPicker" [min]="minDate" [max]="maxDate" formControlName="revStDate">
										<mat-datepicker-toggle matSuffix [for]="reStPicker"></mat-datepicker-toggle>
										<mat-datepicker #reStPicker></mat-datepicker>
										<mat-hint class="err-msg" *ngIf="reviewInfo.get('revStDate')?.errors && (reviewInfo.get('revStDate').dirty || reviewInfo.get('revStDate').touched)"> Review Start Date is required. </mat-hint>
										<mat-hint class="err-msg" *ngIf="isValid(revStDate)"> Review Start Date Must be Less than or equal to endDate. </mat-hint>
									</mat-form-field>
								</div>
								<div class="col-sm-6">
									<mat-form-field class="exp-fw" appearance="outline">
										<mat-label>Review end date</mat-label>
										<input matInput autocomplete="off" [matDatepicker]="reEnPicker" [min]="minDate" [max]="maxDate" formControlName="revEndDate">
										<mat-datepicker-toggle matSuffix [for]="reEnPicker"></mat-datepicker-toggle>
										<mat-datepicker #reEnPicker></mat-datepicker>
										<mat-hint class="err-msg" *ngIf="reviewInfo.get('revEndDate')?.errors && (reviewInfo.get('revEndDate').dirty || reviewInfo.get('revEndDate').touched)"> Review End Date is required. </mat-hint>
										<mat-hint class="err-msg" *ngIf="isValid(revEndDate)"> Review End Date must be Less than or equal to Enddate. </mat-hint>
									</mat-form-field>
								</div>
								<div class="col-sm-6">
									<mat-form-field class="exp-fw" appearance="outline">
										<mat-label>Feedback date</mat-label>
										<input matInput formControlName="febaDate" matDatepicker> </mat-form-field>
								</div>
								<div class="col-sm-6">
									<mat-form-field class="exp-fw" appearance="outline">
										<mat-label>Delivery date after rework</mat-label>
										<input matInput formControlName="delDateAfRework" matDatepicker> </mat-form-field>
									<!-- <mat-form-field class="exp-fw" appearance="outline">
                                        <mat-label>Delivery date after rework</mat-label>
                                        <input matInput autocomplete="off"  [matDatepicker]="deDaAfRePicker"
                                            formControlName="delDateAfRework">
                                        <mat-datepicker-toggle matSuffix [for]="deDaAfRePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #deDaAfRePicker></mat-datepicker>
                                        <mat-hint class="err-msg"
                                            *ngIf="reviewInfo.get('delDateAfRework')?.errors && (reviewInfo.get('delDateAfRework').dirty || reviewInfo.get('delDateAfRework').touched)">
                                            Delivery Date After Rework is required.
                                        </mat-hint>
                                    </mat-form-field> -->
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-3">
							<mat-form-field class="exp-fw" appearance="outline">
								<mat-label>Status</mat-label>
								<select matNativeControl formControlName="status" autocomplete="off" ><!--(change)="onChange($event.target.value)"-->
									<option selected value="null">Select</option>
									<option *ngFor="let status of statuslov" [value]="status.value" >{{ status.viewvalue }}</option>
								</select>
								<mat-hint class="err-msg" *ngIf="status?.errors && (status?.dirty || status?.touched)"> Status is required. </mat-hint>
							</mat-form-field>
						</div>
						<div class="col-sm-3">
							<mat-form-field class="exp-fw" appearance="outline">
								<mat-label>OTD</mat-label>
								<input matInput autocomplete="off" formControlName="otd">
								<mat-hint class="err-msg" *ngIf="otd?.errors && (otd?.dirty || otd?.touched)"> OTD is required. </mat-hint>
							</mat-form-field>
						</div>
						<div class="col-sm-3">
							<mat-form-field class="exp-fw" appearance="outline">
								<mat-label>OQD</mat-label>
								<input matInput autocomplete="off" formControlName="oqd">
								<mat-hint class="err-msg" *ngIf="oqd?.errors && (oqd?.dirty || oqd?.touched)"> OQD is required. </mat-hint>
							</mat-form-field>
						</div>
						<div class="col-sm-3">
							<mat-form-field class="exp-fw" appearance="outline">
								<mat-label>Action</mat-label>
								<select matNativeControl formControlName="action">
									<option value="null">Select</option>
									<option *ngFor="let action of actionlov" [value]="action.value" >{{ action.viewvalue }}</option>
								</select>
								<mat-hint class="err-msg" *ngIf="action?.errors && (action?.dirty || action?.touched)"> action is required. </mat-hint>
							</mat-form-field>
						</div>
					</div>
					<div class="action-box" *ngIf="create">
						<button mat-raised-button type="submit" (click)="schedulerSave()" color="primary">Submit</button>
					</div>
					<div class="action-box" *ngIf="update">
						<button mat-raised-button type="submit" (click)="schedulerUpdate()" color="primary">Update</button>
					</div>
				</div>
			</form>
		</div>
	</nb-card-body>
</nb-card>