.scrollableBody {
  overflow-y: scroll;
    max-height: 210px; }

.orderlist li {
    line-height: 1.5rem;
}

.submitButton {
    margin-top: 24px;
}

.header {
    font-size: 14px;
    background: #6846c6;
    color: white;
    border-radius: 4px;
    text-align: center;
}

::ng-deep {
    .mat-form-field {
        display: block!important;
        position: relative;
        text-align: left;
    }
}



/**Colloborator new css**/
.exp-submit-nomi-wrap{position: relative;}
::ng-deep .icon-outside .exp-close-btn{cursor:pointer;padding:.4rem .65rem;background-color:#6846c6;border-radius:1rem;display:inline-block;text-align:center;color:#fff;top:-3rem;right:-3rem;position:absolute;line-height:normal}
::ng-deep .icon-outside .exp-close-btn i{font-weight: 600;font-size: 0.75rem;}
::ng-deep .icon-outside .mat-dialog-container {overflow: unset}
.pg-plpcomponent mat-dialog-container{padding: 1rem;}