
<div class="gig-common-modal">
  <div class="exp-submit-nomi-wrap">
      <span class="exp-close-btn" (click) = "cancelModel()" mat-button mat-dialog-close><i class="fas fa-times"></i></span>
      <h4 class="text-center">Collaborator</h4>
      <h5 class="text-center header" *ngIf="reviewer_selection"> Select the  Reviewer</h5>
      <h5 class="text-center header" *ngIf="!reviewer_selection"> Selected Reviewer</h5>
      <div class="submit-wrap">
          <form  [formGroup]="collaborators">
              <nb-card *ngIf="!reviewer_selection">
                  <nb-card-body>
                      <div class="scrollable">
                        <div>{{reviewer_selected_name}}</div>
                      </div>                        
                  </nb-card-body>
              </nb-card>
              <div class="row" *ngIf="reviewer_selection">
                  <div class="col-sm-12">
                      <div class="upload-form-group">
                        <mat-form-field >
                          <mat-select formControlName="reviewer"   [placeholder]="'Select a Reviewer'">
                            <mat-select-filter [placeholder]="'Filter'" [displayMember]="'name'" [array]="reviewerArr"
                              (filteredReturn)="filteredListReviewer =$event"></mat-select-filter>
                            <mat-option *ngFor="let reviewer of filteredListReviewer" [value]="reviewer">
                              {{ reviewer.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                  </div>
              </div>
              <h5 class="text-center header">Selected Cosultant</h5>
              <nb-card-body>
                <div class="scrollable">
                  <div id="consultantList"></div>    
                </div>                        
              </nb-card-body>         
              <div class="action-box">
                  <button mat-raised-button *ngIf="reviewer_selection" (click)="collaboratorsSave(collaborators.value)" color="primary" type="submit">Submit Nomination</button>
              </div>
          </form>
      </div>
  </div>
</div>