<div class="login-form">
  <div class="login-form-section">
    <h1 class="login-content-title">Login</h1>
    <p>To stay connected with us please login with your official email address.</p>
    <form class="pg-login-form" [formGroup]="Login">
      <div class="login-container">
        <div class="login-form-box">
          <mat-form-field appearance="fill" class="login-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" name="email" formControlName="email" autocomplete="off">
            <i matPrefix class="material-icons">email</i>
            <mat-error *ngIf="!Login.controls['email'].valid && Login.controls['email'].touched">
              {{ getErrorEmail() }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="login-full-width">
            <mat-label>Password</mat-label>
            <i class="material-icons" matPrefix>lock_outline</i>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" name="password"
              formControlName="password" autocomplete="off">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="!Login.controls['password'].valid && Login.controls['password'].touched">
              {{ getErrorPassword() }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="login-forget">
          <a href="javascript:void(0);" title="Click to get reset password info" (click)="forget()"
            class="login-forget-password">Forgot Password?</a>
        </div>
        <div class="form-group password-box">
          <script src="https://www.google.com/recaptcha/api.js" async defer></script>
          <!-- <div class="login-captcha">
            <div class="g-recaptcha">
              <re-captcha (resolved)="resolved($event)" siteKey="6LdqorEZAAAAAMthf0DllDA3KuWpRywnbmzkrsoX">
              </re-captcha>
            </div>
          </div> -->
          <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <div class="g-recaptcha"  [formControl]="hideRequiredControl" data-sitekey="6LfLpK4UAAAAABMJ31rjUNjmEI_2_IPIcz2Xc8rv"></div> -->
        </div>
        <div class="cta-section">
          <button mat-raised-button 
                  color="primary" 
                  class="button-class" 
                  [disabled]= "loginProcessing"
                  (click)="login()" type="submit">
                  Login
                  <mat-icon class="uploader-status" *ngIf="loginProcessing">
                    <mat-spinner color="accent" diameter="15"> </mat-spinner>
                  </mat-icon>
          </button>
        </div>
        <div class="cta-action">
          <p>Don't have account</p>
          <a href="javascript:void(0);" title="Click to registration" class="login-register"
            (click)="register()">Register Now</a>
        </div>
      </div>
    </form>


    <form class="form-signin" #loginFrm>
      <!-- <div class="loginerror">{{errorMessage}}</div>
     
      <div class="captchaerror">{{captchaError}}</div> -->

    </form>
  </div>
</div>