
$toolbar-color: #6846c6;
$white-color: #ffffff;

.width-100 {
    width: 100%;
}

.width-10rem {
    width: 10rem;
}

nb-layout-header nav {
    padding: 0 !important;
}

.nb-theme-default nb-sidebar {
    background: $toolbar-color;
}

.nb-theme-default nb-menu .menu-item {
    color: $white-color;
}

.nb-theme-default nb-menu .menu-item .menu-icon {
    color: $white-color;
}

.nb-theme-default nb-menu .menu-item a {
    color: $white-color;
}

.nb-theme-default nb-menu .menu-item a.active {
    color: $white-color;
    background-color: #7c5fcc;
}

.nb-theme-default nb-menu .menu-item a.active .menu-icon {
    color: $white-color;
}

.nb-theme-default nb-sidebar.compacted nb-menu .menu-item a.active::before {
    background: $white-color;
    width: 3px;
}

.nb-theme-default nb-sidebar.compacted {
    width: 5rem;
}

.padding-left-25px {
    padding-left: 25px;
}

.nb-theme-default nb-sidebar.compacted .main-container {
    width: 5rem;
}

.nb-theme-default nb-sidebar.compacted nb-menu {
    width: 5rem;
}

.cursor-pointer {
    cursor: pointer;
}

.nb-theme-default nb-popover {
    border: none;
}
/*Add to fix the flikering issue*/
.nb-theme-default nb-sidebar.start.fixed ~ .content {
    margin-left: 5rem;
}

/*** User avatar ***/
.header-container .user-container{
    flex-direction: row-reverse;
}
.header-container .info-container{
    margin-right: .5rem;
    margin-left: 0!important;
    text-align: right;
}
/*** User avatar ***/

