body{font-family:'Montserrat',sans-serif!important;background-color:#fafafa!important;margin:0!important;padding:0!important;position:relative}
body.pg-registration{overflow-y:auto!important}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6,p,a,.mat-form-field-infix,label,mat-label,button,span,.mat-body,.mat-body-1,.mat-typography,mat-tab-group{font-family:'Montserrat',sans-serif!important}
a{text-decoration:none!important}
/*header*/
.layout-container #menu-sidebar .main-container .scrollable{padding-top:0}
.layout-container #menu-sidebar .main-container .scrollable ul li{border:none}
.layout-container #menu-sidebar .main-container .scrollable ul li a{padding:1.3rem 1rem}
.nb-theme-default nb-layout nb-layout-header nav{box-shadow:0 1px 6px 0 rgba(32,33,36,0.28)}
.nb-theme-default nb-layout-header.fixed ~ .layout-container{background-color:#f0f0f0}
/*header project menu*/
.pg-header-item{margin:0 auto}
.filter.pg-header-item .subtitle{cursor:pointer;color:#0c0814;font-family:'Montserrat',sans-serif!important;text-align:center;padding:1.6rem 2rem;text-decoration:none;font-weight:600;font-size:.875rem;border-radius:inherit;border-left:inherit;text-transform:uppercase;border-bottom:3px solid transparent}
.filter.pg-header-item .active{border-bottom:3px solid #6846c6}
.filter.pg-header-item .subtitle .badge{font-weight:500;background-color:#d4d5da!important;margin:0 auto 0 .5rem;padding:.3rem .6rem;color:#0c0814}
.filter.pg-header-item .subtitle.active .badge{background-color:#6846c6!important;color:#fff}
/*header project menu*/

/*header user menu*/
.header-container .user-action{border-right:none !important;}
.header-container .user-action .user-container .info-container .user-name::before{content: "Welcome ";}
.header-container .user-action .user-container .info-container .user-name{font-family:'Montserrat',sans-serif!important;padding:0;color:#0C0814;line-height:normal;font-weight:600;font-size:1rem;text-transform:capitalize}
.header-container .user-action .user-container .info-container .user-title{font-family:'Montserrat',sans-serif!important;padding:0;color:#0C0814;line-height:normal;font-size:.75rem;margin-top:.2rem}
.header-container .user-action .user-container .user-picture{width: auto; height: auto; border: 2px solid #DFE0EB; border-radius: 2rem; padding: .2rem; min-width: 3rem; min-height: 3rem;}
.header-container .control-item{font-family:'Montserrat',sans-serif!important;padding:0;color:#0C0814;line-height:normal;font-size:.75rem;margin-top:.2rem;cursor: pointer;}
/*header user menu*/
/*header*/
.mat-button{outline:none !important;}
.nb-theme-default .login-pg .layout{background-color:#fafafa!important}
.nb-theme-default .login-pg .scrollable-container{height:auto!important}
.login-form-box .mat-form-field-appearance-fill:first-child .mat-form-field-flex{background-color:#dadada;border-radius:.3rem .3rem 0 0!important}
.login{align-items:center!important;place-content:space-between!important}
.login-form-box .mat-form-field-appearance-fill .mat-form-field-flex{background-color:rgba(0,0,0,0.04);border-radius:0 0 .5rem .5rem!important}
.login-form-box .mat-form-field-prefix{padding-right:.5rem;border-radius:0 0 .5rem .5rem!important}
.login-form-box .mat-form-field-prefix i,.login-form-box mat-icon{color:#858389!important}
.login-form-box mat-label{font-family:'Montserrat',sans-serif!important;text-shadow:inherit!important;color:#0C0814;font-size:.875rem}
.login-form-box .mat-form-field-appearance-fill .mat-form-field-underline::before{background-color:#cccc!important}
.login-container .mat-form-field .mat-form-field-wrapper{padding-bottom:0!important}
.login-form-box .mat-form-field-underline{bottom:0;max-width:99%;left:0;right:0;margin:0 auto}
.rc-anchor-light.rc-anchor-normal{width:100%!important}
.login-captcha{width: 100%!important; margin: 0 0 .75rem; display: flex !important; background-color: #f9f9f9; padding: 0; height: auto!important; border-radius: .4rem; align-content: flex-end; align-items: flex-end; flex-direction: column;}
.cta-section button{background:#6846C6!important;padding:.875rem .5rem!important;line-height:normal!important;font-size:.875rem!important;font-weight:700!important;margin:0 auto!important;outline:none;}
.cta-action{display:block;text-align:center}
.cta-action p,.cta-action a{display:block;font-size:.775rem!important;color:#0C0814!important}
.cta-action .login-register{font-weight:600!important;font-size:.875rem!important}
.cta-section.cta-action .terms-condition .mat-checkbox-layout{display:flex!important;flex-wrap:nowrap!important}
.cta-section.cta-action .terms-condition .mat-checkbox-layout .terms-condition-link{text-decoration:underline;color:#6846C6!important}
.upload-form-group .form-group{display:block!important;padding:.75em .75em .5rem!important;border-radius:.5rem}
.upload-form-group .form-group label,.upload-form-group .form-group .custom-file{display:inline-block!important;color:#0C0814;vertical-align:middle}
.upload-form-group .form-group label{width:40%}
.upload-form-group .form-group .custom-file{width:55%;padding-top:0.2rem;}
.upload-form-group .form-group label mat-icon{margin-right:.5rem;color:#858389}
.mat-form-field-subscript-wrapper .mat-error{background-color:#fff!important;padding:.5rem!important;border:1px solid #dadada;border-radius:.3rem;z-index:99999;position:relative;opacity:1;font-family:'Montserrat',sans-serif!important}
.mat-form-field-appearance-fill .mat-form-field-subscript-wrapper{z-index:99999;}
.login-form-box .login-full-width.full-flex-container .login-full-width .mat-form-field-flex {background-color: #5f4d4d0a !important;border-radius: 0 !important;}
.login-form-box .login-full-width.full-flex-container .login-full-width.select-years .mat-form-field-flex {padding-right: 0!important;}

/*content*/
.pg-container{background-color:#fff;border:1px solid #dadada;border-radius:.25rem;padding:1rem}
.pg-plpcomponent .pg-container{min-height:88vh;}
.pg-publishing .pg-container{min-height:88vh;}
.nb-theme-default .layout-container .pg-container .pg-common-title h4{margin:0 auto;padding:0 0 1rem;line-height:normal;font-weight:600;font-size:1.25rem}
.nb-theme-default .layout-container .pg-container.scheduler-pg .pg-common-title h4{padding:0;}
.nb-theme-default .layout-container .pg-container.scheduler-pg .back-to-pg a {color: #0c0814; border: 1px solid #6846C6; padding: 0.5rem; border-radius: 0.25rem;}
.pg-inner-container{margin:0 auto}
/*page-manag-reg start*/
.pg-inner-container table{margin:0 auto;width:100%;box-shadow:0 1px 6px 0 rgba(32,33,36,0.28);margin-bottom:.2rem}
.pg-container .reg-pg-action .reg-search .mat-form-field-wrapper{margin:0 auto;border:1px solid #dadada;border-radius:.25rem;background-color:#f0f0f0;width:25rem;padding:0}
.pg-container .reg-pg-action .reg-search .mat-form-field-wrapper .mat-form-field-infix{margin:0 auto;padding:0;line-height:normal;border:none;height:auto}
.pg-container .reg-pg-action .reg-search .mat-form-field-wrapper .mat-form-field-infix input{margin:0 auto;padding:.5rem .75rem .5rem 3rem;line-height:normal;border:none;height:auto;background-image:url(../images/search-icon.svg);background-repeat:no-repeat;background-position:.5rem center}
.pg-container .reg-pg-action .reg-search .mat-form-field-wrapper .mat-form-field-infix .mat-form-field-label-wrapper{top:0;padding-top:0}
.pg-container .reg-pg-action .reg-search .mat-form-field-wrapper .mat-form-field-infix .mat-form-field-label-wrapper label{padding-left:2rem;font-size:.875rem;top:0;line-height:2.2rem;margin:0 auto}
.pg-container .reg-pg-action .reg-search .mat-form-field-wrapper .mat-form-field-underline{display:none}
.pg-container .btn-group button{background-color:#6846c6;border-radius:.25rem;outline:0;border:none;align-items:center;justify-content:center;color:#fff;font-size:.875rem;text-align:center;padding:.7rem 1rem;margin:0 auto 0 1rem;transition:.3s;display:inline-block;cursor:pointer;font-family:'Montserrat',sans-serif!important;line-height:normal;height:auto;outline:none;}
.pg-container .reg-pg-action .btn-group button{color: #0c0814;border: 1px solid #6846C6;background-color: #fff;}
.pg-inner-container table thead tr{height:auto;vertical-align:middle;background-color: #6846c6;}
.pg-inner-container table thead tr .mat-checkbox label{margin:0 auto}
.pg-inner-container table thead tr .mat-checkbox label .mat-checkbox-frame{border-color:#fff}
.pg-inner-container table thead tr th{height:auto;vertical-align:middle;color: #fff;}
.pg-inner-container table thead tr th button{font-weight:500;text-transform:uppercase;font-size:.875rem;padding:.5rem 0;outline:none;}
.pg-inner-container table tbody tr.mat-row{height:auto;vertical-align:middle}
.pg-inner-container table tbody tr.mat-row .mat-checkbox label{margin:0 auto}
.pg-inner-container table tbody tr td.table-td,.pg-inner-container table tbody tr td.mat-cell{padding-top:0;font-size:.875rem;vertical-align:middle;padding-bottom:0;margin:0 auto;line-height:normal;border-bottom-color:#dadada;background-color:#fff;color:#0c0814}
.pg-inner-container table tbody tr td.table-td:nth-child(2){text-transform:capitalize}
.pg-inner-container table tbody tr td.mat-cell .mat-form-field-wrapper{margin:.6rem auto;border:1px solid #6846c6;border-radius:.2rem;background-color:#fff;padding:0;color:#6846c6;font-size:.75rem;font-weight:500}
.pg-inner-container table tbody tr td.mat-column-Comments .mat-form-field-wrapper{border:1px solid #dadada}
.pg-inner-container table tbody tr td.mat-cell .mat-form-field-wrapper .mat-form-field-infix{margin:0 auto;padding:0;line-height:normal;border:none;height:auto;}
.pg-inner-container table tbody tr td.mat-cell .mat-form-field-wrapper .mat-form-field-infix::after{right:.5rem;color:#6846c6}
.pg-inner-container table tbody tr td.mat-cell .mat-form-field-wrapper .mat-form-field-infix select{margin:0 auto;padding:.5rem .75rem;line-height:normal;border:none;height:auto;background-repeat:no-repeat;top:0;color:#6846c6;font-size:.75rem;font-weight:500}
.pg-inner-container table tbody tr td.mat-cell .mat-form-field-wrapper .mat-form-field-infix .mat-form-field-label-wrapper{top:0;padding-top:0}
.pg-inner-container table tbody tr td.mat-cell .mat-form-field-wrapper .mat-form-field-infix .mat-form-field-label-wrapper label{padding-left:2rem;font-size:.875rem;top:0;line-height:2.2rem;margin:0 auto}
.pg-inner-container table tbody tr td.mat-cell .mat-form-field-wrapper .mat-form-field-underline{display:none}
.pg-inner-container table tbody tr td.mat-cell .mat-form-field-wrapper .mat-form-field-infix input{margin:0 auto;padding:.5rem .75rem;line-height:normal;border:none;height:auto;color:#0c0814;text-transform:capitalize}
.pg-inner-container .pg-userm-pagination .mat-paginator{padding:0}
.pg-inner-container .pg-userm-pagination .mat-paginator .mat-paginator-outer-container .mat-paginator-container{display:flex;justify-content:center;align-items:center}
.pg-inner-container .pg-userm-pagination .mat-paginator .mat-paginator-outer-container .mat-paginator-container .mat-paginator-range-label{margin:0 1rem}
.pg-inner-container .pg-userm-pagination .mat-paginator .mat-paginator-outer-container .mat-paginator-container .mat-paginator-page-size{align-items:center}
.pg-inner-container .pg-userm-pagination .mat-paginator .mat-form-field{margin:0 auto}
.pg-inner-container .pg-userm-pagination .mat-paginator .mat-form-field-wrapper{margin:0 auto;border:1px solid #dadada;border-radius:.2rem;background-color:#fff;padding:.3rem .3rem .3rem .5rem;color:#6846c6;font-size:.75rem;font-weight:500}
.pg-inner-container .pg-userm-pagination .mat-paginator .mat-form-field-wrapper .mat-form-field-infix{margin:0 auto;padding:0;line-height:normal;border:none;height:auto}
.pg-inner-container .pg-userm-pagination .mat-paginator .mat-form-field-wrapper .mat-form-field-infix::after{right:.5rem;color:#6846c6}
.pg-inner-container .pg-userm-pagination .mat-paginator .mat-form-field-wrapper .mat-form-field-infix select{margin:0 auto;padding:.5rem .75rem;line-height:normal;border:none;height:auto;background-repeat:no-repeat;top:0;color:#6846c6;font-size:.75rem;font-weight:500}
.pg-inner-container .pg-userm-pagination .mat-paginator .mat-form-field-wrapper .mat-form-field-infix .mat-form-field-label-wrapper{top:0;padding-top:0}
.pg-inner-container .pg-userm-pagination .mat-paginator .mat-form-field-wrapper .mat-form-field-infix .mat-form-field-label-wrapper label{padding-left:2rem;font-size:.875rem;top:0;line-height:2.2rem;margin:0 auto}
.pg-inner-container .pg-userm-pagination .mat-paginator .mat-form-field-wrapper .mat-form-field-underline{display:none}
.pg-inner-container .pg-userm-pagination .mat-paginator .mat-paginator-icon{width:24px;}
.scheduler-pg .pg-inner-container table thead tr th.cdk-column-deliveryDateAfterRework{min-width:14rem;}
.scheduler-pg .pg-inner-container table thead tr th.cdk-column-expectedDeliveryDate,
.scheduler-pg .pg-inner-container table thead tr th.cdk-column-proposedDeliveryDate{min-width:12rem;}
.scheduler-pg .pg-inner-container table thead tr th.cdk-column-workOrderNumber,
.scheduler-pg .pg-inner-container table thead tr th.cdk-column-actualDeliveryDate{min-width:11rem;}
.scheduler-pg .pg-inner-container table thead tr th.cdk-column-activityReference,
.scheduler-pg .pg-inner-container table thead tr th.cdk-column-activityStartDate,
.scheduler-pg .pg-inner-container table thead tr th.cdk-column-reviewStartDate{min-width:10rem;}
.scheduler-pg .pg-inner-container table thead tr th.cdk-column-reviewEndDate{min-width:9rem;}
.scheduler-pg .pg-inner-container table thead tr th.cdk-column-launchingDate,
.scheduler-pg .pg-inner-container table thead tr th.cdk-column-feedbackDate{min-width:8rem;}
.scheduler-pg .pg-inner-container table thead tr th.mat-column-status,
.scheduler-pg .pg-inner-container table thead tr th.cdk-column-OTD,
.scheduler-pg .pg-inner-container table thead tr th.cdk-column-OQD{min-width: 5rem;}
.scheduler-pg .pg-inner-container table thead tr th button{font-size:0.7rem;margin:0;text-align:left;}
.scheduler-pg .pg-inner-container table tbody tr td.table-td:first-child{padding: 0;}
.scheduler-pg .pg-inner-container table tbody tr td.table-td, .scheduler-pg .pg-inner-container table tbody tr td.mat-cell{text-align:left;}
.scheduler-pg .pg-inner-container {max-width: 100%;overflow: scroll;}
/*page-manag-reg end*/

/*project list page*/
.pg-plpcomponent .pg-container .reg-pg-action .nb-form-control-container input{color:#c8c9cf;font-family:'Montserrat',sans-serif!important;font-size:.875rem;background-color:#f8fafb;border:1px solid #dadada}
.pg-plpcomponent .pg-container .reg-pg-action .nb-form-control-container input::placeholder{color:#c8c9cf;font-family:'Montserrat',sans-serif!important}
.pg-plpcomponent .pg-container .reg-pg-action i{color:#0c0814;opacity:.5}
.pg-container .pg-inner-container .card-container .card-title-section{display:flex;justify-content:space-between}
.pg-container .pg-inner-container .card-container .card-title-section .more-action{cursor: pointer;}
.pg-container .pg-inner-container .card-container .card-title-section .more-action i{color:#c5c7cd;cursor: pointer;}
.nb-theme-default.pg-plpcomponent .mat-menu-content {margin: 0 auto;padding:0.5rem  0 !important;}
.nb-theme-default.pg-plpcomponent .mat-menu-content button{outline: none;line-height: normal;height: auto;padding: 0.5rem 1rem;font-size: 0.875rem;font-family:'Montserrat',sans-serif!important;}
.nb-theme-default.pg-plpcomponent .mat-menu-content button i{color: #c5c7cd;margin-right: 0.5rem;font-size: 0.875rem;}
.pg-container .projectCreation{position:fixed;bottom:4rem;right:3rem;text-shadow:0 0 #000}
.pg-container .projectCreation button{width:auto;height:auto;background:#6846c6;padding:1.8rem 2rem;line-height:normal;outline:none;}
.pg-container .projectCreation button .mat-button-wrapper{width:auto;height:auto;background:#6846c6;line-height:normal;margin:0 auto;padding:0}
.pg-container .pg-inner-container .card-container{box-shadow:0 4px 10px #dadada;}
.pg-container .pg-inner-container .card-container nb-card-body{padding:1rem 1rem 0}
.pg-container .pg-inner-container .card-container nb-card-footer{padding:.5rem 1rem;border-top:1px solid #f0f0f0}
.pg-container .pg-inner-container .card-container nb-card-body .text-overflow{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.pg-container .pg-inner-container .card-container nb-card-body .item-card-title-lg{font-size:.875rem;transition:1s;cursor:pointer;line-height:normal;color:#0c0814;font-weight:700;margin:0;padding:0;text-transform:capitalize;}
.pg-container .pg-inner-container .card-container nb-card-body .item-card-title-md{font-size:.875rem;transition:1s;cursor:pointer;line-height:normal;color:#0c0814;font-weight:400;margin:.5rem 0;padding:0;text-transform:capitalize;}
.pg-container .pg-inner-container .card-container nb-card-body .item-card-text{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;min-height:40px;font-size:.875rem;font-weight:400;color:#0c0814;line-height:normal;margin:.5rem 0}
.pg-container .pg-inner-container .card-container nb-card-body .item-card-duration{display:flex;justify-content:space-between;margin:.5rem 0}
.pg-container .pg-inner-container .card-container nb-card-body .item-card-duration p{font-size:.875rem;font-weight:600}
.pg-container .pg-inner-container .card-container nb-card-body .item-card-duration p span{font-size:.875rem;font-weight:400}
.pg-container .pg-inner-container .card-container nb-card-body .item-card-prograss{display:flex;justify-content:space-between;margin:.5rem 0}
.pg-container .pg-inner-container .card-container nb-card-body .item-card-prograss button.btn-view-prograss,
.pg-container .pg-inner-container .card-container nb-card-body .item-card-prograss-btn button.btn-view-prograss{background-color:rgba(236, 111, 98, 0.8)!important;color:#fff!important;text-transform:capitalize;font-weight:400;line-height:normal;font-size:.75rem;margin:0;width:auto;padding:.3rem .5rem!important;border-radius:.25rem;border:none}
.pg-container .pg-inner-container .card-container nb-card-body .item-card-prograss-btn button a,.pg-container .pg-inner-container .card-container nb-card-body .item-card-prograss button a{color:#fff!important;text-transform:capitalize;font-weight:400;line-height:normal;font-size:.75rem;margin:0;width:auto}
.pg-container .pg-inner-container .card-container nb-card-body .exp-progress-bar{position:relative;margin:1.5rem 0 1rem}
.pg-container .pg-inner-container .card-container nb-card-body .exp-progress-bar nb-progress-bar{position:relative}
.pg-container .pg-inner-container .card-container nb-card-body .exp-progress-bar .progress-value{position:relative;overflow:visible;border-radius:4px 0 0 4px}
.pg-container .pg-inner-container .card-container nb-card-body .exp-progress-bar .progress-container{overflow:visible;height:.4rem}
.pg-container .pg-inner-container .card-container nb-card-body .exp-progress-bar .progress-value span{position:absolute;top:-1.5rem;left:0;right:0;font-size:.8rem;color:#0c0814;margin:0}
.pg-container .pg-inner-container .card-container nb-card-body nb-progress-bar.status-success .progress-container{background-color:#dadada}
.pg-container .pg-inner-container .card-container nb-card-body nb-progress-bar.status-success .progress-value{background-color:#4bccb9;color:#fff;line-height:normal}
.pg-container .pg-inner-container .card-container nb-card-footer .btn-group{display:flex;justify-content:space-between;align-items: center;}
.pg-container .pg-inner-container .card-container nb-card-footer button.btn-view-more{background-color:#6846c6!important;color:#fff!important;text-transform:capitalize;font-weight:400;margin:0;width:auto;padding:.4rem .75rem!important;border-radius:.3rem;border:none;outline:none;}
.pg-container .pg-inner-container .card-container nb-card-footer button.btn-view-more a{color:#fff!important;text-transform:capitalize;font-weight:400;line-height:normal;font-size:.75rem;outline:none;}
.pg-container .pg-inner-container .card-container nb-card-body .item-card-prograss button.btn-view-more-br{background-color: #fff!important;color: #6846c6!important;text-transform: capitalize;font-weight: 400;margin: 0;width: auto;padding: .2rem .75rem!important;border-radius: .3rem;border: 1px solid #6846c6;line-height: normal;font-size: 0.75rem;outline:none;}
.pg-container .pg-inner-container .card-container nb-card-body .item-card-prograss button.btn-view-more-br a{color:#6846c6!important;outline:none;}
.pg-container .pg-inner-container .card-container button.btn-date-count{background-color:#f0f0f0;padding:.5rem .75rem;font-weight:500;text-transform:lowercase;color:rgba(12,8,20,0.6);outline:none;font-size:.75rem;border-radius:.2rem;border:1px solid #dadada;}
.pg-container .pg-inner-container .card-container nb-card-footer .btn-group .res-avatar{display:flex;justify-content:space-between;align-items:center}
.pg-container .pg-inner-container .card-container nb-card-footer .btn-group .res-avatar span{color:rgba(12,8,20,0.6);border:1px solid #dadada;padding:.25rem .3rem;border-radius:3rem;font-size:.7rem;background-color:#f0f0f0;line-height:normal;font-weight:500}
.pg-container .pg-inner-container .card-container nb-card-footer .btn-group .res-avatar .user-picture{border-radius:.25rem}
/*project list page*/

/*project creation page*/
.pg-container .pg-tab-container .mat-tab-body-wrapper{background-color:#f0f0f0;position:relative;padding:1rem;border:1px solid #dadada}
.pg-container .pg-tab-container .mat-tab-label-container .mat-tab-label .mat-tab-label-content{font-family:'Montserrat',sans-serif!important;font-size:1rem;font-weight:600;color:#0c0814}
.pg-container .pg-tab-container .mat-tab-label-container .mat-tab-label{padding:0 3rem}
.pg-container .pg-tab-container .mat-tab-label-container .mat-tab-label-active{background-color:#f0f0f0;opacity:1;border:1px solid #dadada;border-bottom:none;border-radius:.25rem .25rem 0 0}
.pg-container .pg-tab-container .mat-tab-body-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix{padding:.75rem .4375rem;border:1px solid #dadada;border-radius:.25rem;background-color:#fff}
.pg-container .pg-tab-container .mat-tab-body-wrapper .mat-form-field-appearance-legacy .mat-form-field-label{padding:0 0 0 1rem;top:1.5rem;color:#0c0814;line-height:normal}
.pg-container .pg-tab-container .mat-tab-body-wrapper .mat-form-field-appearance-legacy .mat-form-field-label mat-label{background-color:#fff;color:#6d6b72;font-size:.875rem;height:auto;line-height:normal}
.pg-container .pg-tab-container .mat-tab-body-wrapper .mat-form-field-appearance-legacy .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label mat-label{background-color:#6846c6}
.pg-container .pg-tab-container .mat-tab-body-wrapper .mat-form-field{font-family:'Montserrat',sans-serif!important}
.pg-container .pg-tab-container .mat-tab-body-wrapper .pg-tab-container-2 .mat-form-field{width:100%}
.pg-container .pg-tab-container .mat-tab-body-wrapper .mat-form-field-appearance-legacy .mat-form-field-underline{background-color:#dadada;width:99.5%;margin:0 auto;left:0;right:0}
.pg-container .pg-tab-container .mat-tab-body-wrapper .hide-br .mat-form-field-appearance-legacy .mat-form-field-underline{display:none}
.pg-container .pg-tab-container .mat-tab-body-wrapper .hide-br .mat-form-field-suffix{position:relative}
.pg-container .pg-tab-container .mat-tab-body-wrapper .hide-br mat-datepicker-toggle{position:absolute;right:0;left:-2.5rem;top:-1rem;margin:0 auto}
.pg-container .pg-tab-container .mat-tab-body-wrapper .hide-br mat-datepicker-toggle svg{width:2rem}
.pg-container .pg-skill-container{display:flex;align-items:center;justify-content:space-between;width:100%;background-color:#fff;margin:0 1rem;padding:.75rem 1rem;border:1px solid #dadada;border-radius:.25rem}
.pg-container .pg-skill-container.pg-skl-title .pg-skill-container-col{text-transform:uppercase;font-weight:500;color:#0c0814;font-size:.875rem}
.pg-container .pg-skill-container .pg-skill-container-col .pg-skl-select .mat-form-field-infix{border:1px solid #6846c6}
.pg-container .pg-skill-container .pg-skill-container-col .pg-skl-select .mat-form-field-infix .mat-select-arrow{color:#6846c6}
.pg-container .pg-tab-container .mat-tab-body-wrapper .pg-tab-container-2 .pg-skill-container .mat-form-field-appearance-legacy .mat-form-field-wrapper{padding-bottom:0}
.pg-container .pg-tab-container .mat-tab-body-wrapper .pg-tab-container-2 .pg-skill-container .mat-form-field{margin:0}
.pg-container .pg-tab-container .mat-tab-body-wrapper .pg-tab-container-2 .pg-skill-container .mat-form-field-appearance-legacy .mat-form-field-underline{display:none}
.pg-container .pg-tab-container .mat-tab-body-wrapper .pg-tab-container-2 .pg-skill-container .mat-form-field-appearance-legacy .mat-form-field-label span{background-color:#fff}
.pg-container .pg-tab-container .mat-tab-body-wrapper .pg-tab-container-2 .pg-skill-container button{background-color:#6846c6}
.pg-container .pg-tab-container .mat-tab-body-wrapper .pg-tab-container-2 .pg-skill-container .mat-mini-fab[disabled][disabled]{background-color:rgba(0,0,0,.12)}
.pg-container .pg-tab-container .upload-form-group{border:1px solid #dadada;margin-bottom:1rem;background-color:#fff}
.pg-container .pg-tab-container .upload-form-group p{font-size:.875rem;margin:0;padding:.7rem .7rem 0;color:#0c0814}
.pg-container .pg-tab-container .upload-form-group .form-group{margin:0!important}
/*project creation page*/


/*project review page*/
.pg-container .pg-review-container {background-color: #f0f0f0;position: relative;padding: 2rem;border: 1px solid #dadada;}
.pg-container .pg-review-container .mat-form-field-appearance-legacy .mat-form-field-infix{padding:.75rem .4375rem;border:1px solid #dadada;border-radius:.25rem;background-color:#fff}
.pg-container .pg-review-container .mat-form-field-appearance-legacy .mat-form-field-label{padding:0 0 0 1rem;top:1.5rem;color:#0c0814;line-height:normal}
.pg-container .pg-review-container .mat-form-field-appearance-legacy .mat-form-field-label mat-label{background-color:#fff;color:#6d6b72;font-size:.875rem;height:auto;line-height:normal}
.pg-container .pg-review-container .mat-form-field-appearance-legacy .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label mat-label{background-color:#6846c6}
.pg-container .pg-review-container .mat-form-field{font-family:'Montserrat',sans-serif!important}
.pg-container .pg-review-container .mat-form-field-appearance-legacy .mat-form-field-underline{background-color:#dadada;width:99.5%;margin:0 auto;left:0;right:0}
.pg-container .pg-review-container .pg-tab-container-2 .mat-form-field{width:100%}
.pg-container .pg-review-container .mat-form-field-appearance-legacy .mat-form-field-underline{background-color:#dadada;width:99.5%;margin:0 auto;left:0;right:0}
.pg-container .pg-review-container .hide-br .mat-form-field-appearance-legacy .mat-form-field-underline{display:none}
.pg-container .pg-review-container .hide-br .mat-form-field-suffix{position:relative}
.pg-container .pg-review-container .hide-br mat-datepicker-toggle{position:absolute;right:0;left:-2.5rem;top:-1rem;margin:0 auto}
.pg-container .pg-review-container .hide-br mat-datepicker-toggle svg{width:2rem}
.pg-container .pg-review-container .pg-skill-container{display:flex;align-items:center;justify-content:space-between;width:100%;background-color:#fff;margin:0 1rem;padding:.75rem 1rem;border:1px solid #dadada;border-radius:.25rem}
.pg-container .pg-review-container .pg-skill-container.pg-skl-title .pg-skill-container-col{text-transform:uppercase;font-weight:500;color:#0c0814;font-size:.875rem}
.pg-container .pg-review-container .pg-skill-container .pg-skill-container-col .pg-skl-select .mat-form-field-infix{border:1px solid #6846c6}
.pg-container .pg-review-container .pg-skill-container .pg-skill-container-col .pg-skl-select .mat-form-field-infix .mat-select-arrow{color:#6846c6}
.pg-container .pg-review-container .pg-tab-container-2 .pg-skill-container .mat-form-field-appearance-legacy .mat-form-field-wrapper{padding-bottom:0}
.pg-container .pg-review-container .pg-tab-container-2 .pg-skill-container .mat-form-field{margin:0}
.pg-container .pg-review-container .pg-tab-container-2 .pg-skill-container .mat-form-field-appearance-legacy .mat-form-field-underline{display:none}
.pg-container .pg-review-container .pg-tab-container-2 .pg-skill-container .mat-form-field-appearance-legacy .mat-form-field-label span{background-color:#fff}
.pg-container .pg-review-container .pg-skill-container button{background-color:#6846c6;outline:none;}
.pg-container .pg-review-container .pg-skill-container .mat-mini-fab[disabled][disabled]{background-color:rgba(0,0,0,.12)}
.pg-container .pg-review-container .upload-form-group{border:1px solid #dadada;margin-bottom:1rem;background-color:#fff}
.pg-container .pg-review-container .upload-form-group p{font-size:.875rem;margin:0;padding:.7rem .7rem 0;color:#0c0814}
.pg-container .pg-review-container .upload-form-group .form-group{margin:0!important}
/*project review page*/

/*project view page*/
.nb-theme-default .pg-container nb-card-header .exp-progress-bar{position:relative;margin:1.5rem 0 1rem}
.nb-theme-default .pg-container nb-card-header .exp-progress-bar nb-progress-bar{position:relative;width:100%;min-width:15rem}
.nb-theme-default .pg-container nb-card-header .exp-progress-bar .progress-value{position:relative;overflow:visible;border-radius:4px 0 0 4px;background-color:#4bccb9;color:#fff;line-height:normal}
.nb-theme-default .pg-container nb-card-header .exp-progress-bar .progress-container{overflow:visible;height:.6rem}
.nb-theme-default .pg-container nb-card-header .exp-progress-bar .progress-value span{position:absolute;top:-1.5rem;left:0;right:0;font-size:.8rem;color:#fff;margin:0}
.nb-theme-default .pg-container nb-card-header .pg-details-header .res-avatar .user-picture{border-radius:.25rem;border:1px solid #6846c6}
.pg-container .pro-details-wrap .detail-info-container .mom-container  .mat-form-field-infix{padding:.75rem .4375rem;border:1px solid #dadada;border-radius:.25rem;background-color:#fff}
.pg-container .pro-details-wrap .detail-info-container .mom-container  .mat-form-field-label{padding:0 0 0 1rem;top:1.5rem;color:#0c0814;line-height:normal}
.pg-container .pro-details-wrap .detail-info-container .mom-container  .mat-form-field-label mat-label{background-color:#fff!important;color:#6d6b72;font-size:.875rem;height:auto;line-height:normal}
.pg-container .pro-details-wrap .detail-info-container .mom-container  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label mat-label{background-color:#6846c6}
.pg-container .pro-details-wrap .detail-info-container .mom-container  .mat-form-field{font-family:'Montserrat',sans-serif!important}
.pg-container .pro-details-wrap .detail-info-container .mom-container .mat-form-field{width:100%;padding-top: 1rem;}
.pg-container .pro-details-wrap .detail-info-container .mom-container .mat-form-field-underline{background-color:#dadada;width:99.5%;margin:0 auto;left:0;right:0}
/*project view page*/

/*Submit nomination*/
.pg-plpcomponent mat-dialog-container .gig-common-modal h4{font-size:1.375rem;font-weight:600;color:#0c0814;line-height:normal;margin:0 auto;padding-bottom:1rem}
.gig-common-modal{background-color:#fff;border-radius:.25rem;padding:1rem}
.pg-plpcomponent mat-dialog-container{padding:1rem}
.gig-common-modal .upload-form-group{border:1px solid #dadada;margin:0 auto 1rem;display:flex;background-color:#fff;justify-content:space-between;align-items:center;width:100%;padding:.5rem;border-radius:.25rem}
.gig-common-modal .upload-form-group p{font-size:.875rem;margin:0;padding:0 1rem 0 0;color:#0c0814;line-height:normal}
.gig-common-modal .upload-form-group .form-group{margin:0!important;padding:0!important}
.gig-common-modal .upload-form-group .form-group .custom-file{padding-top:.3rem}
.pg-plpcomponent mat-dialog-container .gig-common-modal .mat-form-field-infix{padding:.75rem .4375rem;border:1px solid #dadada;border-radius:.25rem;background-color:#fff}
.pg-plpcomponent mat-dialog-container .gig-common-modal .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label span{background-color: #fff !important;}
.pg-plpcomponent mat-dialog-container .gig-common-modal .mat-form-field-label{padding:0 0 0 1rem;top:1.5rem;color:#0c0814;line-height:normal}
.pg-plpcomponent mat-dialog-container .gig-common-modal .mat-form-field-label mat-label{background-color:#fff!important;color:#6d6b72;font-size:.875rem;height:auto;line-height:normal}
.pg-plpcomponent mat-dialog-container .gig-common-modal .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label mat-label{background-color:#6846c6}
.pg-plpcomponent mat-dialog-container .gig-common-modal .mat-form-field{font-family:'Montserrat',sans-serif!important;width:100%}
.pg-plpcomponent mat-dialog-container .gig-common-modal .mat-form-field-underline{background-color:#dadada;width:99.5%;margin:0 auto;left:0;right:0}
.pg-plpcomponent mat-dialog-container .gig-common-modal nb-card{font-family:'Montserrat',sans-serif;border-color: #dadada;margin-bottom: 1rem;}
.pg-plpcomponent mat-dialog-container .gig-common-modal nb-card-body{padding:0}
.pg-plpcomponent mat-dialog-container .gig-common-modal nb-card-body .nomination-table{display:flex;justify-content:space-around;align-items:center;padding:.5rem 0;margin-bottom:1rem;box-shadow:0 2px 8px #dadada;border-radius:.25rem .25rem 0 0;background-color:#6846c6}
.pg-plpcomponent mat-dialog-container .gig-common-modal nb-card-body .nomination-table .nomination-label{color:#fff;font-family:'Montserrat',sans-serif;font-weight:500;text-transform:uppercase;font-size:.75rem}
.pg-plpcomponent mat-dialog-container .gig-common-modal nb-card-body .scrollable{padding:0 1rem}
.pg-plpcomponent mat-dialog-container .gig-common-modal .action-box{display:flex;align-items:center;justify-content:center}
.pg-plpcomponent mat-dialog-container .gig-common-modal .action-box button{background-color:#6846c6;font-weight: 400;outline:none;}
/*Submit nomination*/

/*review */
.pg-plpcomponent mat-dialog-container .gig-common-modal .review-nomination .mat-form-field{width:auto;min-width:30%}
.pg-plpcomponent mat-dialog-container .gig-common-modal .review-nomination .mat-form-field .mat-form-field-wrapper{margin:0 auto;padding:0}
.pg-plpcomponent mat-dialog-container .gig-common-modal .review-nomination .mat-form-field-underline{display:none}
.pg-plpcomponent mat-dialog-container .gig-common-modal .review-nomination .modal-action-section .btn-group button{background-color:#6846c6;border-radius:.25rem;outline:0;border:none;align-items:center;justify-content:center;color:#fff;font-size:.875rem;text-align:center;padding:.5rem 1rem;margin:0 auto 0 1rem;transition:.3s;display:inline-block;cursor:pointer;font-family:'Montserrat',sans-serif!important;line-height:normal;height:auto;outline:none}
.review-nomination .pg-inner-container table thead tr th button{padding:.5rem 1rem}
.review-nomination .pg-inner-container table tbody tr td.table-td{text-align:left}
.review-nomination .pg-inner-container table thead tr th.selectHeader,.review-nomination .pg-inner-container table tbody tr td.cdk-column-select{min-width:inherit}
.review-nomination .pg-inner-container table thead tr th.selectHeader{padding-left:1rem}
.review-nomination .pg-inner-container table tbody tr td,.review-nomination .pg-inner-container table thead tr th{min-width:8rem}
.review-nomination .pg-inner-container table tbody tr td nb-user{width:100%}
.review-nomination .pg-inner-container table tbody tr td nb-user .info-container .user-title,.review-nomination .pg-inner-container table tbody tr td nb-user .info-container .user-name,.review-nomination .pg-inner-container table tbody tr td{color:#0c0814;font-family:'Montserrat',sans-serif;line-height:normal;font-size:.875rem;text-transform:capitalize}
.review-nomination .pg-inner-container table tbody tr td{padding:.5rem 1rem}
.review-nomination .pg-inner-container table tbody tr td .resume-download i{color:#dadada}
.review-nomination .pg-inner-container .pg-userm-pagination{margin:0 auto;display:flex;align-items:center;justify-content:center}
.pg-plpcomponent mat-dialog-container .gig-common-modal .review-nomination .pg-inner-container .mat-form-field{min-width:inherit;max-width:3rem}
.pg-plpcomponent mat-dialog-container .gig-common-modal .review-nomination .pg-inner-container .mat-form-field .mat-form-field-wrapper{margin:0 auto;padding:.3rem .2rem .3rem .3rem}
.review-nomination .pg-inner-container table tbody tr td.mat-cell .mat-form-field-wrapper .mat-form-field-infix select,.review-nomination .pg-inner-container table tbody tr td.mat-cell .mat-form-field-wrapper .mat-form-field-infix input{padding:0}
.review-nomination .pg-inner-container table tbody tr td .user-picture{border: 1px solid #dadada;border-radius: 0.25rem;}
/*review */

/*content end*/
@media screen and (max-width:1490px) {
    .pg-inner-container table tbody tr td.mat-cell .mat-form-field-wrapper .mat-form-field-infix{max-width: 135px;}
}
@media screen and (max-width:1024px) {
    .pg-inner-container {max-width: 100%;overflow: scroll;}
}
@media screen and (max-width:767px) {
	body {overflow: visible !important;}
    .login-content,.upload-form-group .form-group label,.upload-form-group .form-group .custom-file{width: 100%;}
    .pg-container .reg-pg-action .reg-search .mat-form-field-wrapper{width:auto;}
}
@media screen and (max-width:1920px) and (min-width:1366px) {
    .login-pg{max-width: 1366px;margin:0 auto;}
}
.strike-out
{
text-decoration: line-through;
}