<div class="reg-pg-action">
	<mat-toolbar color="primary" class="pg-common-title">
		<!-- <mat-toolbar-row>
			<h4 class="header">Scheduler View Details</h4>
		</mat-toolbar-row> -->
	</mat-toolbar>
	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<button class="back-to-pg" mat-button>
				<a (click)="backToProjectDetails()" >
					Back
				</a>
			</button>
		</mat-toolbar-row>
	</mat-toolbar>
</div>
<div class="pg-inner-container">
	<table mat-table #outerSort="matSort" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>



		<!-- <ng-container matColumnDef="{{column.datafield}}" *ngFor="let column of columnsToDisplay;let first=first;">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.title}} </th>
			<span *ngIf="first">
				<td mat-cell *matCellDef="let element" class="table-td">
					<button mat-button (click)="onEditScheduler($event,element)">
						<mat-icon>edit</mat-icon>
					</button>
				</td>
			</span>
			<td mat-cell *matCellDef="let element"> {{element[column.datafield] | date:'dd/MM/yyyy'}} </td>
		</ng-container> -->

			
		  <!-- Edit Column -->
		  <ng-container matColumnDef="edit">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
			<td mat-cell *matCellDef="let element" class="table-td">
				<button mat-button (click)="onEditScheduler($event,element)">
					<mat-icon>edit</mat-icon>
				</button>
			</td>
		  </ng-container>
		  <!-- Skills Column -->
		  <ng-container matColumnDef="workOrderNumber">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Work Order Num</th>
			<td mat-cell *matCellDef="let element" class="table-td">{{element.workOrderNumber}}</td>
		  </ng-container>
	
		  <!-- Rating Column -->
		  <ng-container matColumnDef="activityReference">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Activity Reference</th>
			<td mat-cell *matCellDef="let element" class="table-td">{{element.activityReference}}</td>
		  </ng-container>
	
		  <!-- Resume Column -->
		  <ng-container matColumnDef="milestone">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Milestone</th>
			<td mat-cell *matCellDef="let element" class="table-td">{{element.milestone}}</td>
		  </ng-container>

		  <ng-container matColumnDef="launchingDate">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Launching Date</th>
			<td mat-cell *matCellDef="let element" class="table-td">{{element.launchingDate | date:'dd/MM/yyyy'}}</td>
		  </ng-container>
	
		  <!-- Rating Column -->
		  <ng-container matColumnDef="expectedDeliveryDate">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Expected Delivery Date</th>
			<td mat-cell *matCellDef="let element" class="table-td">{{element.expectedDeliveryDate | date:'dd/MM/yyyy'}}</td>
		  </ng-container>
	
		  <!-- Resume Column -->
		  <ng-container matColumnDef="activityStartDate">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Activity Start Date</th>
			<td mat-cell *matCellDef="let element" class="table-td">{{element.activityStartDate | date:'dd/MM/yyyy'}}</td>
		  </ng-container>

		  <ng-container matColumnDef="proposedDeliveryDate">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Proposed Delivery Date</th>
			<td mat-cell *matCellDef="let element" class="table-td">{{element.proposedDeliveryDate | date:'dd/MM/yyyy'}}</td>
		  </ng-container>
	
		  <!-- Rating Column -->
		  <ng-container matColumnDef="actualDeliveryDate">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Actual Delivery Date</th>
			<td mat-cell *matCellDef="let element" class="table-td">{{element.actualDeliveryDate | date:'dd/MM/yyyy'}}</td>
		  </ng-container>
	
		  <!-- Resume Column -->
		  <ng-container matColumnDef="status">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>status</th>
			<td mat-cell *matCellDef="let element" class="table-td">{{element.status}}</td>
		  </ng-container>

		  <ng-container matColumnDef="otd">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>OTD</th>
			<td mat-cell *matCellDef="let element" class="table-td">{{element.otd}}</td>
		  </ng-container>
	
		  <!-- Rating Column -->
		  <ng-container matColumnDef="oqd">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>OQD</th>
			<td mat-cell *matCellDef="let element" class="table-td">{{element.oqd}}</td>
		  </ng-container>
	
		  <!-- Resume Column -->
		  <ng-container matColumnDef="action">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
			<td mat-cell *matCellDef="let element" class="table-td">{{element.action}}</td>
		  </ng-container>

		<ng-container matColumnDef="expandedDetail">
			<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
				<div class="example-element-detail" *ngIf="element.reviewInfo?.data?.length"
					[@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
					<div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
						<table #innerTables mat-table #innerSort="matSort" [dataSource]="element.reviewInfo" matSort>
							<ng-container matColumnDef="{{innerColumn.datafield}}" *ngFor="let innerColumn of innerDisplayedColumns">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> {{innerColumn.title}} </th>
								<td mat-cell *matCellDef="let element"> {{element[innerColumn.datafield] | date:'dd/MM/yyyy'}} </td>
							</ng-container>
							<tr mat-header-row *matHeaderRowDef="innerDisplayedColumnsKeys"></tr>
							<tr mat-row *matRowDef="let row; columns: innerDisplayedColumnsKeys;"></tr>
						</table>
					</div>
				</div>
			</td>
		</ng-container>
	
		<tr mat-header-row *matHeaderRowDef="displayedColumnsKeys"></tr>
		<tr mat-row *matRowDef="let element; columns: displayedColumnsKeys;"
			[class.example-element-row]="element.reviewInfo?.data?.length"
			[class.example-expanded-row]="expandedElement === element" (click)="toggleRow(element)">
		</tr>
		<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
	</table>
</div>

<div class="pg-userm-pagination">
	<mat-paginator showFirstLastButtons [length]="dataSourceLength" [pageSize]="pageSize"
		[pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" class="table-td">
	</mat-paginator>
</div>
<div class="schedulerCreation" *ngIf="isPM">
	<button (click)="createScheduler()" type="submit" mat-fab color="primary"><i class="fas fa-plus"></i></button>
</div>


<!-- <p> welcome!!!</p> -->
<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->