nb-layout-column {padding-top: 10px !important;}
$toolbar-color: #6846c6;
h1.login-title{font-weight:lighter;color:$toolbar-color;font-size:2.8rem!important;margin:0 auto!important;letter-spacing:inherit;line-height:auto}
h1.login-title span{font-weight:700!important}
.padding-left-4rem{padding-left:4rem!important}
.login-text{color:#0c0814;font-weight:700;font-size:1.8rem;padding:1rem 0!important;line-height:normal;font-family:'Montserrat',sans-serif!important}
.login-para{font-weight:lighter;font-size:1.2rem!important;line-height:normal;font-family:'Montserrat',sans-serif!important}
.login-btn a{background-color:$toolbar-color;border-radius:.25rem!important;outline:0;border:none;align-items:center;justify-content:center;color:#fff;font-size:.875rem;text-align:center;padding:.875rem 1rem!important;margin:1rem 0!important;transition:.3s;display:inline-block;cursor:pointer;line-height:auto;font-weight:400}
.login-btn a:hover{color:#fff;text-decoration:none}
.img-responsive{max-width:100%;text-align:center;display:block}
.svg-img mat-icon{max-width:100%;max-height:100%;height:auto!important;width:auto!important;display:flex;align-items:flex-end}
.login-banner.img-responsive{max-width:100%;max-height:100%;width:90%}
.login-content-section{display:flex;flex-flow:column;height:93vh;align-content:space-between;align-items:center;justify-content:space-between}
.login-content-section-bottom mat-icon{min-width:35rem!important}
@media screen and (max-width:1023px) {
	body{overflow:visible!important}
	.img-responsive{margin:0 auto}
	.expleo-logo{margin:0 auto}
	.login{flex-direction:column-reverse!important}
	h1.login-title{font-size:1.5rem!important;line-height:normal;text-align:center}
	.login-text{font-size:1.5rem;text-align:center;padding:.5rem 0!important}
	.login-para{font-size:1rem;text-align:center}
	.login-btn{display:block;text-align:center}
	.login-btn a{margin-bottom:0!important}
	.login-content-section{height:auto}
	.login-content-section-bottom mat-icon{min-width:100%!important}
	.svg-img.login-content-section-bottom{display:none!important}
	.login-content-section-top{border:1px solid #dadada;padding:1rem}
}
.nova-logo{
	width: 180px;
}
@media screen and (max-width: 1023px) and (min-width:768px) {
	.login {flex-direction: column !important;}
}