<nb-layout windowMode class="login-pg">

  <nb-layout-column>
    <div class="login-layout">
      <div class="width-100">
        <div fxLayout.gt-sm="column" fxLayoutAlign.gt-sm="center end" fxLayout.lt-md="row"
          fxLayoutAlign.lt-md="space-between center">
          <!-- <div ngClass.gt-sm="width-100" fxLayout="row" fxLayoutAlign="end">
            <nb-select class="width-10rem" size="xsmall" [(selected)]="sharedService.selectedLanguage">
              <nb-option value="en">English</nb-option>
              <nb-option value="fr">French</nb-option>
              <nb-option value="se">Serbian</nb-option>
            </nb-select>
          </div> -->
          <img src="../assets/images/logo.png" class="expleo-logo" alt="banner">
        </div>
      </div>

      <div class="login" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="20px"
        fxLayoutAlign="space-between">
        <div class="login-content">
          <div  class="login-content-section">
              <div  class="login-content-section-top">
                
                <h1 class="login-title">Welcome to <span><img class="nova-logo" src="..\..\..\assets\images\Nova-blue.jpg" alt="Logo"></span>
                </h1>
                <div class="login-text">Talent on Demand</div>
                <!-- <div class="login-para">Online simple easy of access application forever </div> -->
                <div  class="login-btn">
                  <a href="javascript:void(0)" (click) ="download()"><span><b>FAQ</b></span></a>
                </div>
              </div>
              <!-- <img fxHide fxShow.gt-sm src="../assets/images/svg/login-banner.svg" alt="banner" class="login-banner img-responsive" /> -->              
              <div class="svg-img login-content-section-bottom">
                <!-- <mat-icon matPrefix svgIcon="login-banner"></mat-icon> -->
                <img src="../assets/images/banner.png" class="expleo-logo" alt="banner">
              </div>              
            </div>
        </div>

        <router-outlet></router-outlet>
      </div>
    </div>
  </nb-layout-column>

</nb-layout>