.review-nomination{position: relative;}
::ng-deep .icon-outside .exp-close-btn{cursor:pointer;padding:.4rem .65rem;background-color:#6846c6;border-radius:1rem;display:inline-block;text-align:center;color:#fff;top:-3rem;right:-3rem;position:absolute;line-height:normal}
::ng-deep .icon-outside .exp-close-btn i{font-weight: 600;font-size: 0.75rem;}
::ng-deep .icon-outside .mat-dialog-container {overflow: unset}
.gig-common-modal .review-nomination .modal-action-section{display: flex;align-items: center;justify-content: space-between;border-radius: 0.25rem 0.25rem 0 0;margin-bottom: 0.5rem;}
