<div class="header-container">
  <div class="logo-container">
    <a fxLayout="row" fxLayoutAlign="center" (click)="toggleSidebar()" href="#" class="sidebar-toggle"
      [ngClass.gt-sm]="menuExpanded ? 'sidebar-toggled':''">
      <!-- <nb-icon icon="menu-2-outline"></nb-icon> -->
      <img class="logo-sm sidebar-img-toggle" src="..\..\..\assets\images\Logo_white.svg" alt="Logo">
      <img class="logo-lg sidebar-img-toggle" src="..\..\..\assets\images\expleo-logo-xlg.svg" alt="Logo">
    </a>
    <h6 class="padding-left-25px">{{pageTitle}}</h6>
  </div>
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" size="small" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
  <!-- <exp-layout-direction-switcher class="direction-switcher"></exp-layout-direction-switcher> -->
</div>

<div expFilterHeader>

</div>


<div class="header-container">
  <nb-actions size="small">
    <!-- <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action> -->
    <!-- <nb-action class="control-item" icon="email-outline"></nb-action> -->
    <!-- <nb-action class="control-item" icon="bell-outline"></nb-action> -->

    <!-- <nb-action class="control-item user-action">
      <nb-logout (click)="logout()">Logout</nb-logout>
    </nb-action> -->

    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <!-- <nb-user [onlyPicture]="userPictureOnly" [name]="role" [picture]="pic" >
         --<nb-user [onlyPicture]="userPictureOnly" [name]="img_pic.role"> 
      [nbContextMenu]="userMenu" --
      </nb-user> -->

      <nb-user size="large"
        [name]="name"
        [picture]="pic"
        [title]="role">
      </nb-user>
    </nb-action>
    
    
  </nb-actions>
</div>