
<div class="pg-container">
    <div class="reg-pg-action">
        <mat-toolbar color="primary" class="pg-common-title">
            <mat-toolbar-row>
                <h4 class="header">Project Publishing</h4>
            </mat-toolbar-row>
        </mat-toolbar>        
    </div>       
    <div class="project-review pg-review-container">
        <form [formGroup]="proReviewForm">
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field class="exp-fw">
                        <mat-label>Project Name</mat-label>
                        <input  matInput  
                                formControlName="projectName"
                                autocomplete="off">
                        <mat-hint class="err-msg"
                            *ngIf="projectName.errors && (projectName.dirty || projectName.touched)">
                        Project Name is required.
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field class="exp-fw">
                        <mat-label>Work Order Number</mat-label>
                        <input  matInput 
                                formControlName="workOrderNumber"
                                expWorkOrderMask
                                autocomplete="off">
                        <mat-hint>Sample "Gig/Dev/2020/001"</mat-hint>
                        <mat-hint class="err-msg"
                            *ngIf="workOrderNumber.errors && (workOrderNumber.dirty || workOrderNumber.touched)">
                        Work order number is required.
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field class="exp-fw">
                        <mat-label>
                                Project Area
                        </mat-label>
                        <mat-select formControlName="projectArea"  multiple>
                            <mat-option *ngFor="let arealist of area" [value]="arealist.areaId">
                                {{arealist.areaName}}
                                </mat-option>
                        </mat-select>
                        <mat-hint class="err-msg"
                            *ngIf="projectArea.errors && (projectArea.dirty || projectArea.touched)">
                            Project Area is required.
                        </mat-hint>
                    </mat-form-field>
                        
                </div>
                
                <div class="col-sm-6">
                    <mat-form-field class="exp-fw">
                        <mat-label>Customer</mat-label>
                        <input  matInput  formControlName="customer">
                        <mat-hint class="err-msg"
                                    *ngIf="customer.errors && (customer.dirty || customer.touched)">
                                    <span *ngIf="customer.errors.required">
                                        Customer is required.
                                    </span>
                                    <span *ngIf="customer.errors.pattern">
                                        Customer name should alphabetical character.
                                    </span>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <mat-form-field class="exp-fw">
                        <mat-label>Project Description</mat-label>
                        <textarea   matInput 
                                    formControlName="projectDescription" 
                                    autocomplete="off"></textarea>
                        <mat-hint class="err-msg"
                            *ngIf="projectDescription.errors && (projectDescription.dirty || projectDescription.touched)">
                            Project Description is required.
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <mat-form-field class="exp-fw">
                        <mat-label>Scope Of Activity</mat-label>
                        <textarea   matInput 
                                    formControlName="scopeOfActivity" 
                                    autocomplete="off"></textarea>
                        <mat-hint class="err-msg"
                            *ngIf="scopeOfActivity.errors && (scopeOfActivity.dirty || scopeOfActivity.touched)">
                            Scope Of Activity is required.
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <mat-form-field class="exp-fw">
                        <mat-label>Input For Project</mat-label>
                        <textarea   matInput 
                                    formControlName="inputForProject" 
                                    autocomplete="off"></textarea>
                        <mat-hint class="err-msg"
                            *ngIf="inputForProject.errors && (inputForProject.dirty || inputForProject.touched)">
                            Input For Project is required.
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <mat-form-field class="exp-fw">
                        <mat-label>Tools</mat-label>
                        <textarea   matInput 
                                    formControlName="tools" 
                                    autocomplete="off"></textarea>
                        <mat-hint class="err-msg"
                            *ngIf="tools.errors && (tools.dirty || tools.touched)">
                            Tools For Project is required.
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <mat-form-field class="exp-fw">
                        <mat-label>Deliverables</mat-label>
                        <textarea   matInput 
                                    formControlName="deliverables" 
                                    autocomplete="off"></textarea>
                        <mat-hint class="err-msg"
                            *ngIf="deliverables.errors && (deliverables.dirty || deliverables.touched)">
                            Deliverables is required.
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row pg-tab-container-2">
                <div class="col-sm-3 hide-br">
                    <mat-form-field>
                        <mat-label>Project Start Date</mat-label>
                        <input 
                                matInput 
                                [min]="minDate"
                                autocomplete="off" 
                                formControlName="startDate" 
                                (dateInput)="onStartChanged('input', $event)"
                                [matDatepicker]="stDtPicker">
                        <mat-datepicker-toggle matSuffix [for]="stDtPicker"></mat-datepicker-toggle>
                        <mat-datepicker #stDtPicker></mat-datepicker>
                        <mat-hint class="err-msg"
                            *ngIf="startDate.errors && (startDate.dirty || startDate.touched)">
                            Start date is required.
                        </mat-hint>
                        </mat-form-field>
                </div>
                <div class="col-sm-3 hide-br">
                    <mat-form-field>
                        <mat-label>Project End Date</mat-label>
                        <input 
                                matInput 
                                [min]="proReviewForm.value.startDate"
                                autocomplete="off" 
                                formControlName="endDate" 
                                [matDatepicker]="edDtPicker">
                        <mat-datepicker-toggle matSuffix [for]="edDtPicker"></mat-datepicker-toggle>
                        <mat-datepicker #edDtPicker></mat-datepicker>
                        <mat-hint class="err-msg"
                            *ngIf="endDate.errors && (endDate.dirty || endDate.touched)">
                            End date is required.
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field class="exp-fw">
                        <mat-label>Project Budget(INR)</mat-label>
                        <input  matInput 
                                formControlName="projectBudget"
                                numeric
                                number
                                autocomplete="off">
                        <mat-hint class="err-msg"
                            *ngIf="projectBudget.errors && (projectBudget.dirty || projectBudget.touched)">
                        Project budget is required.
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="pg-skill-container pg-skl-title">
                            <div class="pg-skill-container-col">
                                Required skill set
                            </div>
                            <div class="pg-skill-container-col">
                                Skill Rating
                                <i class="fas fa-info-circle" 
                                               matTooltip="1 being the lowest and 5 being the highest">
                                            </i>
                            </div>
                            <div class="pg-skill-container-col">
                                Skill weightage %
                                <i class="fas fa-info-circle" 
                                            matTooltip="Cumulative weightage should be 100% (1 being the lowest and 10 being the highest)">
                                </i>
                            </div>
                            <div class="pg-skill-container-col">
                                <button *ngIf="proReviewForm.get('skills').controls.length == 0" [disabled] = "proReviewForm.get('skills').invalid" type="button" mat-mini-fab color="primary" (click) = "onAddNewSkill()" > + </button>
                            </div>
                            <span   class="err-msg cumulative-err" 
                                    *ngIf="cumulativeWeightInvalid">
                                        (Cumulative weightage should be 100%)
                            </span>
                        </div>
                    </div>
                    <div formArrayName="skills"
                            *ngFor="let skill of proReviewForm.get('skills').controls;let i = index;let last = last">
                        <div [formGroupName]="i">                            
                            <div class="row">
                                <div class="pg-skill-container">
                                    <div class="pg-skill-container-col">
                                        <mat-form-field class="exp-fw">
                                            <input
                                                    matInput 
                                                    formControlName="name"
                                                    autocomplete="off"
                                                    placeholder="Skill"   
                                                    >
                                                <mat-hint   class="err-msg"
                                                            *ngIf="skill.get('name')?.errors && (skill.get('name').dirty || skill.get('name').touched)">
                                                Skill is required.
                                                </mat-hint>
                                                
                                        </mat-form-field>
                                    </div>
                                    <div class="pg-skill-container-col">
                                        <mat-form-field class="exp-fw pg-skl-select">
                                            <mat-select formControlName="rating" [disabled]="projectreviewdisable"   
                                                        placeholder="Rating">
                                                <mat-option value="1">1</mat-option>
                                                <mat-option value="2">2</mat-option>
                                                <mat-option value="3">3</mat-option>
                                                <mat-option value="4">4</mat-option>
                                                <mat-option value="5">5</mat-option>
                                            </mat-select>
                                            <mat-hint   class="err-msg"
                                                            *ngIf="skill.get('rating')?.errors && (skill.get('rating').dirty || skill.get('rating').touched)">
                                                Rating is required.
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="pg-skill-container-col">
                                        <mat-form-field class="exp-fw">
                                            <input 
                                                    matInput 
                                                    formControlName="weightage"
                                                    numeric
                                                    number
                                                    autocomplete="off"
                                                    placeholder="Skill Weightage"
                                                    >
                                                
                                    <mat-hint   class="err-msg"
                                                *ngIf="skill.get('weightage')?.errors && (skill.get('weightage').dirty || skill.get('weightage').touched)">
                                                <span *ngIf="skill.get('weightage')?.errors.required">
                                                    Weightage is required.
                                                </span>
                                                <span *ngIf="skill.get('weightage')?.errors.min">
                                                    Minmum weightage is 1.
                                                </span>
                                                <span *ngIf="skill.get('weightage')?.errors.max">
                                                    Maximum weightage is 100.
                                                </span>
                                                
                                    </mat-hint> 
                                            </mat-form-field>
                                    </div>
                                    <div class="pg-skill-container-col" *ngIf="!projectreviewdisable">
                                        <button *ngIf="last "    
                                                    [disabled] = "proReviewForm.get('skills').invalid"
                                                        type="button"
                                                        mat-mini-fab color="primary" 
                                                    (click) = "onAddNewSkill()"
                                                    >
                                                    +
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-6">
                    <mat-form-field class="exp-fw">
                        <mat-label>
                            Work Package Status
                        </mat-label>
                        <mat-select formControlName="workPackageStatus">
                            <mat-option value="Launched">Launched</mat-option>
                            <mat-option value="On Hold">On Hold</mat-option>
                            <mat-option value="In Progress">In Progress</mat-option>
                            <mat-option value="In Progress">Completed</mat-option>
                        </mat-select>
                        <mat-hint class="err-msg"
                            *ngIf="workPackageStatus.errors && (workPackageStatus.dirty || workPackageStatus.touched)">
                            Work Package Status is required.
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <mat-form-field class="exp-fw">
                        <mat-label>Constraints</mat-label>
                        <textarea   matInput 
                                    formControlName="constrains" 
                                    autocomplete="off"></textarea>
                        <mat-hint class="err-msg"
                            *ngIf="constrains.errors && (constrains.dirty || constrains.touched)">
                            Constraints is required.
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <mat-form-field class="exp-fw">
                        <mat-label>Acceptance criteria</mat-label>
                        <textarea   matInput 
                                    formControlName="acceptanceCriteria" 
                                    autocomplete="off"></textarea>
                        <mat-hint class="err-msg"
                            *ngIf="acceptanceCriteria.errors && (acceptanceCriteria.dirty || acceptanceCriteria.touched)">
                            Acceptance criteria is required.
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="example-experience">

                    </div>
                </div>
            </div>                         
            <div class="row">
                <div class="col-sm-12">                   
                    <div class="upload-form-group">
                        <p>
                            Question and Answer <a mat-flat-button download="QandAfile" type="button" (click)="download()">Click here to download the Question and Answer</a>
                        </p>                        
                        <p>Upload Question and Answer File 
                            <i class="fas fa-info-circle" 
                            matTooltip="File Name should be ' Q&A <project name>'.xls">
                            </i></p>
    
                        <fieldset class="form-group" *ngIf="!projectreviewdisable">
                            {{imageError}}
                            <div class="custom-file fileInputProfileWrap" >
                                <input type="file" (change)="fileChangeEvent($event)" (click)="Clearfile()"
                                    class="fileInputProfile">
                                <div class="img-space">
                                    <ng-container *ngIf="isImageSaved; else elseTemplate">
                                    </ng-container>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="action-box">
                <button mat-raised-button color="primary"  id="editBtn" (click)="enableProject()" type="button"><span>Edit</span></button>
                <button mat-raised-button color="primary" *ngIf="!editable_view" id="saveBtn" (click)="saveProject()" type="submit"><span>Submit</span></button>
                <button mat-raised-button color="primary"  *ngIf="editable_view" id="updateBtn" (click)="updateProject()" type="submit"><span>Update</span></button>
            </div>
        </form>
    </div>
</div>
