.exp-fw{width:100%}
.err-msg{font-size:12px;color:#f44336}
.action-box{display:flex;justify-content:flex-end}
.action-box button{margin:0 0 0 1rem;background-color:#6846c6;outline:none}
.action-box button span{color:#fff}
.cumulative-err{
    position: absolute;
    top: 30px;
    right: 21px;
}