<div class="pg-container">
    <mat-toolbar color="primary" class="pg-common-title">
        <mat-toolbar-row>
            <h4 class="header">Manage User Registration</h4>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="reg-pg-action">
        <mat-form-field class="form-field reg-search">
            <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <div class="btn-group">
            <button mat-button class="button-color"  (click)="clearSelection()"  aria-label="search" class="floated">
                Cancel
            </button>
            <button mat-button class="button-color" (click)="updateSelectedUsersList()" aria-label="search" class="floated">
                Submit
            </button>
        </div>
    </div>
    <div class="pg-inner-container">
        <table mat-table [dataSource]="manageUserData" matSort class="table-striped table-responsive-md btn-table mat-elevation-z8">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="selectHeader">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element" class="table-td">
                <mat-checkbox (click)="$event.stopPropagation(event)" [disabled]="element.active === 'accept'"
                                (change)="$event ? selection.toggle(element) : null"
                                [checked]="selection.isSelected(element)"
                                [aria-label]="checkboxLabel(element)">
                </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element" class="table-td">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let element" class="table-td">{{element.email}}</td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                <td mat-cell *matCellDef="let element" class="table-td">{{element.phone}}</td>
            </ng-container>
            <!-- <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                <td mat-cell *matCellDef="let element" class="table-td">{{element.phone}}</td>
            </ng-container> -->
            <ng-container matColumnDef="employeeId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id</th>
                <td mat-cell *matCellDef="let element" class="table-td">{{element.employeeid}}</td>
            </ng-container>
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                <td mat-cell *matCellDef="let element" class="table-td">{{element.role}}</td>
            </ng-container>
            <ng-container matColumnDef="domain">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Domain Interested</th>
                <td mat-cell *matCellDef="let element">{{element.domainName}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="legacy">
                        <!-- <div [disabled]="element.active === 'accept'"> -->
                        <select matNativeControl [(ngModel)]="element.status" [disabled]="element.active === 'accept'" required>
                            <option value="null">Select</option>
                        <option *ngFor="let nstatus of status" [value]="nstatus.value">{{ nstatus.viewvalue }}</option>
                        </select>
                        <!-- </div> -->
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="Comments" class="selectHeader">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Comments</th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="legacy">
                        <input matInput [(ngModel)]="element.comments" [disabled]="element.active === 'accept'" required/>
                    </mat-form-field>
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element" (click)="getData(element)">
                    <button mat-button color="primary">Submit</button>
                </td>
            </ng-container> -->
            <ng-container matColumnDef="loading">
                <td mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                </td>
            </ng-container>
            <ng-container matColumnDef="noData">
                <td mat-footer-cell *matFooterCellDef colspan="6">
                    No data
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" class="example-element-row" (click)="selection.toggle(row)"></tr>
            <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': manageUserData!=null}"></tr>
            <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(manageUserData!=null && manageUserData.data.length ==0)}"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
        <div class="pg-userm-pagination">
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons class="table-td"></mat-paginator>
        </div>
    </div>
    
</div>