<div class="login-form">
  <div class="login-form-section">
    <h1 class="login-content-title">Register</h1>
    <p>The Information will let us know more about you</p>
    <form class="pg-login-form" [formGroup]="registration">
      <div class="login-container">
        <div class="login-form-box">
          <mat-form-field appearance="fill" class="login-full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="" formControlName="name" name="name">
            <i matPrefix class="material-icons">person</i>
            <mat-error *ngIf="name.invalid && name.touched">
              {{titleAlert}}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="login-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" name="email" formControlName="email">
            <i matPrefix class="material-icons">email</i>
            <mat-error *ngIf="!registration.controls['email'].valid && registration.controls['email'].touched">
              {{ getErrorEmail() }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="login-full-width">
            <mat-label>Phone</mat-label>
            <i matPrefix class="material-icons">phone</i>
            <input matInput formControlName="phone" placeholder="" maxlength="10"
            (keypress)=_keyPress($event)>
            <mat-error *ngIf="!registration.controls['phone'].valid && registration.controls['phone'].touched">
              Field is required,enter valid Phone number
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="login-full-width">
            <mat-label>Employee ID</mat-label>
            <i class="material-icons" matPrefix>person_pin</i>
            <input matInput formControlName="employeeid" type="text" numeric placeholder="">
            <mat-error
              *ngIf="!registration.controls['employeeid'].valid && registration.controls['employeeid'].touched">
              Field is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="login-full-width">
            <mat-label>Password</mat-label>
            <i class="material-icons" matPrefix>lock_outline</i>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" name="password"
              formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="!registration.controls['password'].valid && registration.controls['password'].touched">
              {{ getErrorPassword() }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="login-full-width">
            <mat-label>Confirm Password</mat-label>
            <i class="material-icons" matPrefix>lock_outline</i>
            <input matInput [type]="Conhide ? 'password' : 'text'" type="password" name="confirmpassword"
              formControlName="confirmpassword">
              <mat-icon matSuffix (click)="Conhide = !Conhide">{{Conhide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <!-- <mat-error *ngIf="!registration.controls['confirmpassword'].valid && registration.controls['confirmpassword'].touched">
                {{ getErrorConfirmPassword() }}
              </mat-error> -->
              <div class="error-msg" *ngIf="registration.value.password !== registration.value.confirmpassword">
                <mat-error> Password and Confirm Password must be match.</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field appearance="fill" class="login-full-width">
            <mat-label>Role</mat-label>
            <i class="material-icons" matPrefix>person_pin</i>
            <mat-select formControlName="role">
              <mat-option *ngFor="let rolelist of role" [value]="rolelist.roleName">
                {{rolelist.roleName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!registration.controls['role'].valid && registration.controls['role'].touched">
              Field is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="login-full-width">
            <mat-label>Domain Interested</mat-label>
            <i class="material-icons" matPrefix>domain</i>
            <mat-select formControlName="domain" multiple>
              <mat-option *ngFor="let domainlist of domain" [value]="domainlist.domainId">
                {{domainlist.domainName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!registration.controls['domain'].valid && registration.controls['domain'].touched">
              Field is required
            </mat-error>
          </mat-form-field>
          <div class="upload-form-group">
            <fieldset class="form-group">
              <label>
                <mat-icon matPrefix svgIcon="person"></mat-icon>Upload picture
              </label>
              {{imageError}}
              <div class="custom-file fileInputProfileWrap">
                <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                <div class="img-space">
                  <ng-container *ngIf="isImageSaved; else elseTemplate">
                    <!-- <img [src]="cardImageBase64" class="img-responsive" /> -->
                  </ng-container>
                  <!-- <ng-template #elseTemplate>
                            <img src="./../../assets/placeholder.png" class="img-responsive">
                        </ng-template> -->
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="cta-section cta-action">
          <p>
            <mat-checkbox 
            [checked]="termsCondition" 
            (change)="termsCondition = !termsCondition"
            class="terms-condition">
            <a>I agree to the <span
                  class="terms-condition-link" (click)="openTermCondtionsDialog()">Terms and Conditions</span></a></mat-checkbox>
          </p>
          <button mat-raised-button color="primary" 
                  class="button-class" 
                  (click)="register()" 
                  [disabled]= "regFormProcessing"
                  type="submit">
            Create an Account 
            <mat-icon class="uploader-status" *ngIf="regFormProcessing">
              <mat-spinner color="accent" diameter="15"> </mat-spinner>
            </mat-icon>
          </button>
          <div class="section-bottom">
            <p>Already have an account</p>
            <a href="#" class="login-register">Login Now</a>
          </div>
          <!-- <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>   -->
        </div>
      </div>
    </form>
  </div>
</div>