$toolbar-color: #6846c6;
.pg-login-form{min-width:150px;max-width:500px;width:100%}
.login-full-width{width:100%;margin-bottom:0}
.login-container .mat-form-field{padding-bottom:0!important}
.login-form-box{border:1px solid #ccc;border-radius:.5rem}
.button-class{width:100%;margin-bottom:1rem}
.section-bottom{text-align:center}
h1.login-content-title{margin:0 auto;font-size:1.3rem;letter-spacing:normal;font-weight:600;color:#0c0814;line-height:normal}
.login-form p{font-size:.875rem!important;font-weight:lighter;margin:1rem 0!important;color:#0c0814}
.login-form-section{display:block;max-width:460px}
.login-form-section form{display:block}
.login-form-section form .form-group{display:flex;border:1px solid #f0f0f0;border-bottom:0;background-color:rgba(0,0,0,0.04);;margin:0 auto!important;width:100%;font-family:'Montserrat',sans-serif!important}
.login-forget{margin:.75rem 0;display:flex;justify-content:flex-end}
.login-forget a{font-size:.813rem;color:#0c0814}
.login-form-section form .form-group.mail-box{border-radius:.25rem .25rem 0 0;background-color:#dadada;border-bottom:0}
.login-form-section form .form-group.password-box{margin-top:0!important;align-items:flex-end;display:flex;justify-content:flex-end;border:none!important;padding:0}
.login-form-section form .form-group.captcha-box{border-radius:0 0 .25rem .25rem;border-bottom:1px solid #f0f0f0;padding:.575rem 0 0}
.login-form-section form .fa{color:#f0f0f0;width:50px;display:block;font-size:24px;text-align:center;padding:.5rem 0 0!important}
.login-form-section form .form-group.mail-box .fa{font-size:20px;padding:.875rem 0 0}
.login-form-section form .form-info{display:block;width:88%}
.login-form-section form .form-info label{display:block;font-size:13px;line-height:auto;margin:0 auto;letter-spacing:auto;color:#0c0814}
.login-form-section form .form-info input:placeholder,.login-form-section form .form-info input:focus{border:none!important;outline:none!important;font-family:'Montserrat',sans-serif!important;line-height:auto!important;letter-spacing:auto!important;color:#000!important}
.login-form-section form .form-group.mail-box input{background-color:#dadada}
.login-form-section form .form-group.captcha-box .form-info input{width:47%;display:inline-block;vertical-align:middle}
.login-form-section form .form-group .form-code{width:50%;display:inline-block;vertical-align:top;position:relative;text-align:right;top:-10px}
.login-form-section form .form-group .form-code .fa{width:auto;padding:.5rem;display:inline-block;vertical-align:top}
.login-form-section form .btn-action{display:block;padding-top:1rem;text-align:right;clear:both}
.login-form-section form .btn-action a{display:block;color:#0c0814;line-height:auto;font-size:.875em!important;letter-spacing:auto!important}
.login-form-section form .btn-action a:hover{text-decoration:none}
.login-form-section form .btn-action .login-form-btn{background-color:$toolbar-color;border-radius:.25rem;outline:0;border:none;align-items:center;justify-content:center;color:#fff;font-size:.875rem;text-align:center;padding:.7rem 1rem;margin:1rem 0;transition:.3s;display:inline-block;cursor:pointer;font-family:'Montserrat',sans-serif;line-height:auto;height:auto}
.loginerror{color:red;padding:1%}
.captchaerror{color:red;padding:1%}
.login-layout .form-control.captcha-box{padding:0!important;margin:1rem auto 0!important;font-size:auto!important;line-height:auto!important;font-weight:inherit!important;border:none!important;transition:none!important;border-radius:inherit!important;background:none}
.form-control.captcha-box .g-recaptcha{float:right!important}
.cta-section.cta-action .terms-condition{display:flex;flex-direction:column;align-items:center!important;align-content:center!important;width:100%}
.input-group-addon{padding:6px 12px;line-height:1;color:#555;text-align:center;vertical-align:middle;width:3rem}
.grecaptcha-badge{visibility:hidden}
.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
	stroke: #fff;
}

@media screen and (max-width:1024px) {
	.login .login-form {flex:1 1;padding:0 1rem 0 0;}	
	.img-responsive {margin: 0 auto;}
}
@media screen and (max-width:767px) {
	.login-form-section h2{text-align:center;font-size: 1.5rem;}
}