.res-avatar{
    display: flex;
}
.item-card-prograss .btn-date-count.danger{
    background-color: #ff3d71;
    border-color: #ff3d71;
    color: #ffffff;
}
.reg-pg-action{
    display: flex;
}
.fill-remaining-space{
    flex: auto;
}