<div class="pg-container">
    <div class="reg-pg-action">
        <nb-form-field class="mb-3">
            <i nbPrefix class="fas fa-search"></i>
            <input type="text"  nbInput placeholder="Search a project" [(ngModel)]="query">
          
        </nb-form-field>

        <!-- <nb-form-field class="mb-3">
            <select matNativeControl>
                <option value="Project Manager">Project Manager</option>
                <option value="Line Manager">Line Manager</option>
                <option value="Consultant">Consultant</option>
                <option value="Reviewer">Reviewer</option>
              </select>
        </nb-form-field> -->
        <div class="fill-remaining-space"></div>
        <form [formGroup]="Projectlist" *ngIf="isSwitchPM || isSwitchCons">
            <mat-form-field appearance="fill" >
                <mat-label>Select a role</mat-label>
                <mat-select  formControlName="switchrole" [(value)]="loggedUserRole" (selectionChange)="onSwitchrole($event)" >
                    <mat-option value="Project Manager" *ngIf="isSwitchPM">Project Manager</mat-option>
                    <mat-option value="Line Manager" *ngIf="isSwitchPM">Line Manager</mat-option>
                    <mat-option value="Consultant">Consultant</mat-option>
                    <mat-option value="Reviewer">Reviewer</mat-option>
                </mat-select>
              </mat-form-field>
       
        </form> 
    </div>   
    
    <div class="col-sm-3">
        <!-- <mat-form-field class="exp-fw">
            <mat-select (change)="switchrole($event.target.value)">
            <mat-option value="Project Manager">Project Manager</mat-option>
            <mat-option value="Line Manager">Line Manager</mat-option>
            <mat-option value="Consultant">Consultant</mat-option>
            <mat-option value="Reviewer">Reviewer</mat-option>
            </mat-select>
        </mat-form-field> -->
        
    </div>


    <div class="pg-inner-container">
        <div class="row">
            <div class="col-md-3 col-sm-6" *ngFor="let pro of pageData | filterProject:'projectName,customerName,workPackageStatus':query">
                <nb-card class="card-container">
                    <nb-card-body>
                        <div class="card-title-section">
                            <h5 class="item-card-title-lg text-overflow">{{pro.projectName}}</h5>
                            <div class="item-card-prograss-btn" *ngIf = "isConsultant">
                                <button nbButton class="theme-secondary-button btn-view-prograss" matRipple size="tiny" semi-round > {{pro.workPackageStatus}} </button> 
                            </div>                            
                            <div class="more-action text-right" *ngIf = "isPM || isLM">
                                <span class="c-p pull-right more-action-title"
                                    [matMenuTriggerFor]="menu">
                                    <i class="fa fa-ellipsis-h more-action" aria-hidden="true"></i>
                                </span>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item *ngIf = "isPM"  (click) ="geteditProject(pro._id)" >
                                        <i class="fas fa-pencil-alt more-action"></i>Edit
                                    </button>
                                    <button mat-menu-item (click) = "openReviewDialog(pro._id ,pro.startDate,pro.endDate)">
                                        <i class="fas fa-redo-alt more-action"></i>Review
                                    </button>                                    
                                    <button mat-menu-item *ngIf = "isPM"
                                    (click) = "openDelConformDialog(pro._id)"
                                                            > 
                                                            <i class="fas fa-trash-alt more-action"></i>
                                                            Delete
                                                        </button>
                                </mat-menu>
                            </div>
                        </div>                      
                        <!-- <p class="sub-title mt-0 mb-1 text-overflow">Development</p>  -->        
                        <p  class="item-card-title-md text-overflow">{{pro.customerName}}</p>            
                        <p class="item-card-text">{{pro.projectDescription}}</p>            
                        <div class="exp-progress-bar">
                            <nb-progress-bar 
                            [value]="pro.projectStatusPercentage" 
                            size="tiny"
                            [displayValue]="true"
                            status="success">
                            </nb-progress-bar>
                        </div>
                        <!-- <div class="item-card-duration">
                            <p class="mb-0 dt-lb">Start Date: <span>{{pro.startDate | date: 'dd/MM/yyyy'}}</span></p>                                
                            <p class="mb-0 dt-lb">End Date: <span>{{pro.endDate | date: 'dd/MM/yyyy'}}</span></p>                                   
                        </div> -->

                        <div class="item-card-prograss">
                            
                            <button nbButton 
                                    size="tiny" 
                                    matRipple 
                                    semi-round 
                                    class="btn-date-count btn" 
                                    [ngClass]="{'danger': pro.isExceeded}"
                                    > 
                                {{ pro.time_diff }} 
                            </button>                                       
                            <button nbButton *ngIf = "isConsultant" matRipple size="tiny" semi-round class="theme-b-outline btn-view-more-br" >
                                <a [routerLink]="['/pages/project-details']" [queryParams]="{ id: pro._id }" >View More Details</a>                                             
                            </button>
                            <button nbButton *ngIf = "!isConsultant" class="theme-secondary-button btn-view-prograss" matRipple size="tiny" semi-round > {{pro.workPackageStatus}} </button>
                        </div>
                    </nb-card-body>
                    <nb-card-footer>
                        <div class="btn-group"><!-- panel-footer --> 
                            <div class="res-avatar">
                                <!-- <nb-user   *ngFor="let avatar of avatars.slice(0, 3);" 
                                            size="small"
                                            shape="rectangle"
                                            onlyPicture ="true"
                                            [picture]="avatar.base64image">
                                </nb-user>
                                <span *ngIf="avatars.length > 3">+{{avatars.length - 3}}</span> -->
                            </div>                            
                            <button nbButton *ngIf = "!isConsultant" matRipple size="tiny" semi-round class="btn-view-more" >
                                <a [routerLink]="['/pages/project-details']" [queryParams]="{ 'id': pro._id, 'wn': pro.workOrderNumber }" > View More Details </a>
                            </button>
                            <button nbButton matRipple size="tiny" [disabled] = "pro.nomination" [ngClass]="{'strike-out': pro.nomination == 'true'}"  semi-round *ngIf="isConsultant" class="btn-view-more" (click)="openDialog(pro._id,pro.projectName)">
                                <a>Submit Nomination</a>
                            </button>
                        </div>                        
                    </nb-card-footer>
                </nb-card>
            </div>                    
        </div>    
    </div>
    <div class="btn-section projectCreation" *ngIf="isPM">
        <button [routerLink]="['/pages/project-publishing']" type="submit" mat-fab color="primary"><i class="fas fa-plus"></i></button>
    </div>
</div>


