<div class="gig-modal">
  <button mat-button (click)="onNoClick()" class="gig-modal-close">X</button>
  <div mat-dialog-content class="gig-modal-content">
      <img src="../../assets/images/icons/tick-icon-sm.svg" alt="banner">
      <!-- <span class="success-icon-md"></span> -->
      <h3>Link shared!</h3>
      <p>Check your inbox for a password reset email from Snapdocs.if you
          haven't recevied an email after a few minutes, please check your spam folder to see if the email ended up there
      </p>
  </div>
</div>

