<div class="login-form">
  <div class="login-form-section">
    <h1 class="login-content-title">Forget your password?</h1>
      <p>We'll send you instructions to reset your password and get you back on track</p>
      <form class="pg-login-form" [formGroup]="forgetpassword" (ngSubmit)="forget()">
          <div class="login-container">
            <div class="login-form-box">
              <mat-form-field appearance="fill" class="login-full-width">
                <mat-label>Email</mat-label>
                <i matPrefix class="material-icons">email</i>
                  <input matInput name="Email" placeholder="Email ID" type="email" ng-pattern-restrict
                  formControlName="Email">           
                  <mat-error>
                    <div *ngIf="f.Email.invalid && (f.Email.dirty || f.Email.touched)">
                          <div *ngIf="f.Email.errors.required">
                            <strong>Email is required.</strong>
                          </div>
                          <div *ngIf="f.Email.errors.email">
                            Enter a Valid Email.
                          </div>
                    </div>
                  </mat-error>
              </mat-form-field>       
            </div> 
            <div class="cta-section">
              <button mat-raised-button color="primary" class="button-class" type="submit">Reset Password</button>
            </div>                    
        </div>        
    </form>
  </div>
</div>
