
<div class="pg-container review-nomination">
    <span class="exp-close-btn" (click) = "onNoClick()" mat-button mat-dialog-close><i class="fas fa-times"></i></span>
    <div class="reg-pg-action">
        <mat-form-field class="form-field reg-search">
            <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <div class="btn-group">
            <button mat-button class="button-color" aria-label="search" class="floated" (click)="onNoClick()">
                Cancel
            </button>
            <button mat-button class="button-color" (click)="updateSelectedUsersList()" aria-label="search" class="floated">
                Submit
            </button>
        </div>
    </div>
    <div class="pg-inner-container">
      <table mat-table [dataSource]="dataSource" matSort class="table-striped table-responsive-md btn-table mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="selectHeader">
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" class="table-td">
            <mat-checkbox (click)="$event.stopPropagation()"
                          *ngIf="row.status != 'accepted'"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- Name column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element" class="table-td">
            <nb-user shape="rectangle"  [picture]="element.profilepic" [name]="element.name" [title]="element.email"></nb-user>
          </td>
        </ng-container>

  
        <!-- Start Date -->
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
          <td mat-cell *matCellDef="let element" class="table-td">{{startDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
  
        <!-- End Date -->
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
          <td mat-cell *matCellDef="let element" class="table-td">{{endDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>

  
        <!--Select Box-->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
              <button nbButton *ngIf="element.status === 'accepted'" size="tiny">{{element.status}}</button>
              <mat-form-field appearance="legacy" *ngIf="element.status != 'accepted'">
                  <!-- <div [disabled]="element.active === 'accept'"> -->
                  <select matNativeControl   
                                            [(ngModel)]="element.status"  required>
                      <option value="null">Select</option>
                  <option *ngFor="let state of statusArr" [value]="state.value">{{ state.viewvalue }}</option>
                  </select>
                  <!-- </div> -->
              </mat-form-field>
          </td>
        </ng-container>
  
        <!-- Comment Box-->
        <ng-container matColumnDef="comment" class="selectHeader">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
          <td mat-cell *matCellDef="let element">
              <mat-form-field appearance="legacy" *ngIf="element.status != 'accepted'">
                  <input matInput  [(ngModel)]="element.comment" required/>
              </mat-form-field>
              <p *ngIf="element.status == 'accepted'">
                {{element.comment}}
              </p>
          </td>
        </ng-container> 
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns">
        </tr>
      </table>
      <div class="pg-userm-pagination">
        <mat-paginator 
                      showFirstLastButtons 
                      [length]="length"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions"
                      (page)="pageEvent = $event"
                      class="table-td">
        </mat-paginator>
      </div>
    </div>
    
  
    
  
  </div>