.hide{
    display: none;
  }
  .pg-container .reg-pg-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  }
  .pg-container .reg-pg-action .reg-search {
  margin: 0;
  }
  mat-footer-row mat-footer-cell {justify-content: center;font-style: italic;}
  .mat-form-field {font-size: 14px;}
  .floated {float:right;margin-right:5px;}
  tr.example-element-row:hover {background: #efefef;}
  ::ng-deep { 
  .table thead th {
    vertical-align: middle!important;
    border-bottom: 2px solid #dee2e6;
  }
  tr.mat-header-row {
    background: #6846c6;
  }
  .mat-button, .mat-paginator {
    color: #6846c6;
  }
  .mat-sort-header-container {
    color: white;
    font-size: 15px;
  }
  .mat-sort-header-arrow {
    color: white;
    width: 15px!important;
  }
  
  }
  
  .selectHeader {
  min-width: 60px;
  }
  .table-td {
  padding-top: 2%;
  }
  thead {
  background-color: #6846c6;
  }
  .header {
  margin-left: 10px;
  margin-top: 0px;
  padding-top: 10px;
  color: #6846c6;
  }
  .example-container{
  overflow-y: auto;
  min-width: 100%;
  }
  .resume-download{
    cursor: pointer;
    color: #eee;
  }
  .review-nomination .info-container{
    text-align: left;
  }
  .review-nomination .info-container .user-title{
    text-transform: lowercase;
  }
  
  /****POP UP - Style Start****/
  ::ng-deep .icon-outside .exp-close-btn{
    cursor: pointer;
    height: 28px;
    width: 28px;
    background-color: #6846c6;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding-top: 4px;
    top: -36px;
    right: -36px;
    position: absolute;
  }
  
  ::ng-deep .icon-outside .mat-dialog-container {
   overflow: unset
  }
  .review-nomination{
    position: relative;
  }
  /****POP UP - Style End****/