.exp-pd{
    padding: .5rem;
}
.exp-fw{
    width:100%;
    margin-bottom: .5rem;
}
.err-msg{
    font-size: 12px;
    color: #f44336;
}
.action-box{
    display:flex;
    justify-content:flex-end;
}
.action-box button{
    margin:0 0 0 1rem;
    background-color:#6846c6;
}
.tab-wrapper{
    background-color: #efefef;
    padding-top: .5rem;
}
.file-tem-int{
    font-size: .8em;
    margin-bottom: 0;
}
.cumulative-err{
    position: absolute;
    top: 30px;
    right: 21px;
}