.gig-modal {
    text-align: center;
    position: relative;
}
.gig-modal-close {
    position: absolute;
    right: -1rem;
    background-color: #6846c6;
    color: #fff;
    border-radius: 2rem;
    top: -1rem;
    padding: 0.45rem 0.6rem;
    outline: none;
    min-width: inherit;
    font-size: 0.5rem;
    line-height: normal;
    font-weight: 400;
    min-height: inherit;
    height: inherit;
    cursor: pointer;
}
.gig-modal .gig-modal-content h3{
    color: #0C0814;
    font-size: 1.5rem;
    margin: 0 auto;
    line-height: normal;
    padding: 1.5rem 0  0.5rem 0;
}
.gig-modal .gig-modal-content h4{
    color: #0C0814;
    font-size: 1rem;
    margin: 0 auto;
    line-height: normal;
    padding:0 0 1.5rem 0;
}
.gig-modal .gig-modal-content img{
    max-width: 80%;
}
.gig-modal .gig-modal-content p{
    color: #0C0814; font-size: 0.875rem; margin: 0 auto; line-height: normal; font-weight: 500; padding: 0 2rem;
}