<!--div mat-dialog-content>
    <img src="../../../../assets/images/icons/tick-icon-sm.svg" alt="banner">
    <h3>Project Created </h3>
    <p>We have successfully created the project.
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
  </div-->
  <div class="gig-modal">
    <button mat-button (click)="onNoClick()" class="gig-modal-close">X</button>
    <div mat-dialog-content class="gig-modal-content">
        <img src="../../../../assets/images/icons/tick-icon-sm.svg" alt="banner">
        <h3>Project Created!</h3>
        <h4>We have successfully created the project.</h4>
    </div>
  </div>