<div mat-dialog-content>
    <h4>Delete Project</h4>
    <p>Are you sure you want to delete ?
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="warn" (click)="cancel()" class="mr-1">Cancel</button>
    <button mat-flat-button color="primary" (click)="ok()">Ok</button>
  </div>