<nb-action class="filter control-item pg-header-item" *ngIf="isFilterVisible">
    <nb-action  class="subtitle control-item"
                [ngClass]="{'active': currentFilter === 'all'}" 
                (click) = "onFilter('all')">
      All  <span class="badge badge-pill">{{projectCount.all}}</span>
    </nb-action>
    <nb-action  class="subtitle control-item" 
                [ngClass]="{'active': currentFilter === 'launched'}"
                (click) = "onFilter('launched')">
      Launched <span class="badge badge-pill">{{projectCount.launched}}</span>
    </nb-action>
    <nb-action  class="subtitle control-item" 
                [ngClass]="{'active': currentFilter === 'in_progress'}"
                (click) = "onFilter('in_progress')">
      In Progress <span class="badge badge-pill">{{projectCount.inProgress}}</span>
    </nb-action>
    <nb-action  class="subtitle control-item" 
                [ngClass]="{'active': currentFilter === 'on_hold'}" 
                (click) = "onFilter('on_hold')">
      On Hold <span class="badge badge-pill">{{projectCount.onHold}}</span>
    </nb-action>
    <nb-action  class="subtitle control-item" 
                [ngClass]="{'active': currentFilter === 'completed'}" 
                (click) = "onFilter('completed')">
      Completed <span class="badge badge-pill">{{projectCount.completed}}</span>
    </nb-action>
</nb-action>
