<div class="gig-modal">
  <button mat-button (click)="onNoClick()" class="gig-modal-close">X</button>
  <div mat-dialog-content class="gig-modal-content">
      <img src="../../assets/images/icons/tick-icon-sm.svg" alt="banner">
      <!-- <span class="success-icon-md"></span> -->
      <h3>Profile Updated</h3>
      <p>you have successfully updated your profile information</p>
  </div>
</div>
  
  